{{ partial "header.html" . }}
<!-- === root index === -->
<main class="site-content" id="siteContent">
  <div class="grid-wrapper">
    <div class="prime-box">
			{{ partial "svg/basicR.html" }}
    </div>
    <div class="subtitle-grid-container">
      {{ with $.Site.Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </div>
    <div class="jumbo-grid-container twitter-hash">
    {{ partial "jumbo.html" . }}
    </div>
    <div class="portfolio-flex">
      {{ .Content }}
      
        {{ $paginator := .Paginate .Site.RegularPages }}
          {{ range where $paginator.Pages "Section" "portfolio"}}
        {{ partial "hp-portfolio.html" . }}
      {{ end }}
      {{ partial "svg/portfolio_overlay.html" }}
    </div>
    <div class="grid-site-data">
      <!-- {{ range first 20 .Data.Pages }}
        {{ .Render "summary"}}
      {{ end }} -->
    </div>

</div>
<!-- {{ partial "pagination.html" . }} -->
</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
