<!-- short code for big-blog-image.html -->
<!-- this kind of sucks but in order to provide low res AND lower pixel density images, this has to accept FOUR versions of the same image... sad... -->
<figure {{ with .Get "class" }} class="{{ . }}" {{ end }}>
    {{- $srcsetOne := .Get "srcsetOne" -}}
    <img
    srcset="{{ $srcsetOne }}, {{ .Get "srcsetTwo" }}, {{ .Get "srcsetThree" }}, {{ .Get "srcsetFour" }} "
    src="{{ .Get "src" }}" alt="{{ .Get "alt" }}"
    sizes="(max-width: 20em) 100vw, (max-width: 50em) 75vw, (max-width: 60em) 65vw">
    <figcaption>{{ .Get "figcaption" }}</figcaption>
</figure>
