<!-- short code for big-blog-image.html -->
<!-- this kind of sucks but in order to provide low res AND lower pixel density images, this has to accept FOUR versions of the same image... bummer... -->
{{- $cdn := .Site.Params.cdnURL -}}
{{- $class := .Get "class" -}}
{{- $src := .Get "src" -}}
{{- $srcset := .Get "srcset" -}}
{{- $srcsetOne := .Get "srcsetOne" -}}
{{- $srcsetTwo := .Get "srcsetTwo" -}}
{{- $srcsetThree := .Get "srcsetThree" -}}
{{- $srcsetFour := .Get "srcsetFour" -}}
<!-- set a pixel density here-->
{{- $px := "640w" -}}
{{- $pixelDensity := .Get "pxDens" -}}

<!--
    It might make more sense to hard code the pixel density here rather than having to supply a more verbose one on the blog post level. that being said the latter is i think more flexible b/c it allow the writer (me) to decide which resolution I'm targeting for a given asset...

    at any rate, this allows us to use one generic srcset variable instead of four unique ones, and therefore 
-->
<figure class="{{ $class }}">
    <img
    srcset="{{ $cdn }}{{ $srcset }} {{ $pixelDensity }}, {{ $cdn }}{{ $srcset }} {{ $pixelDensity }}, {{ $cdn }}{{ $srcset }} {{ $pixelDensity }}, {{ $cdn }}{{ $srcset }} {{ $pixelDensity }} "
    src="{{ $cdn }}{{ $src }}" alt="{{ .Get "alt" }}"
    sizes="(max-width: 20em) 100vw, (max-width: 50em) 75vw, (max-width: 60em) 65vw" />
        {{ with .Get "figcaption" }}
        <figcaption>{{ . }}</figcaption>
        {{ end }}
</figure>