<!-- short code for big-blog-image.html -->
<!-- this kind of sucks but in order to provide low res AND lower pixel density images, this has to accept FOUR versions of the same image... sad... -->
{{- $srcsetOne := .Get "srcsetOne" -}}
{{- $srcsetTwo := .Get "srcsetTwo" -}}
{{- $srcsetThree := .Get "srcsetThree" -}}
{{- $srcsetFour := .Get "srcsetFour" -}}
<figure {{ with .Get "class" }} class="{{ . }}" {{ end }}>
    <img
    srcset="{{ $srcsetOne }}, {{ $srcsetTwo }}, {{ $srcsetThree }}, {{ $srcsetFour }} "
    src="{{ .Get "src" }}" alt="{{ .Get "alt" }}"
    sizes="(max-width: 20em) 100vw, (max-width: 50em) 75vw, (max-width: 60em) 65vw" />
        {{ with .Get "figcaption" }}
        <figcaption>{{ . }}</figcaption>
        {{ end }}
</figure>