<!-- short code for images pulled from Cloudinary -->

<!-- prettier-ignore -->
{{ $class := .Get "class" }}
{{ $title := .Get "title" }}
{{ $dataSrc := .Get "data-src" }}
{{ $alt := .Get "alt" }}
{{ $loading := .Get "loading" }}
{{ $fc := .Get "figcaption" }}
{{ $ph := $.Site.Params.placeHolderSVG }}
{{ $cl := $.Site.Params.cloudinary }}
{{ $path := $cl.cloudPath }}
{{/*  Make some Static dimensions:  */}}
{{ $sw := 1600 }}
{{ $sh := 900 }}

<figure class="[ {{ $class }} ]" {{ if $title }} title="{{ $title }}" {{ end }}>

  <img 
    class="[ {{ $cl.class }} ]"
    src="{{ $ph }}"
    data-src="{{ $dataSrc }}"
    {{ with $loading }}
    loading="{{ . }}"
    {{ else }}
    loading="lazy"
    {{ end }}
    {{  with $alt }} 
      alt="{{ . }}" 
    {{ else }}
    alt="an image of an artifact in the {{ .Params.Title }} portfolio item"
    {{ end }}
    
    height="{{ $sh }}"
    width="{{ $sw }}"
     />
  {{ with $fc }}
  <figcaption>{{ . }}</figcaption>
  {{ end }}

</figure>