node_modules/
.sass-cache
*.css.map
.DS_Store
npm-debug.log
botConfig.js
artwork/
# ignore image files
content/media/portfolio/**/*.*
# use deliver instead
# ignore the public files that get deployed
public/

deploy
deliver