//
// root sass
//

@import 'vendor/reset.min';
@import 'partials/functions';
@import 'vendor/include_media';
@import 'vendor/fluid_type';
@import 'partials/scaleRules';
@import 'partials/custom_breakpoints';
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/grid';
@import 'partials/nav';
@import 'partials/tags_taxo';
@import 'partials/articles';
@import 'partials/sidebar';
@import 'partials/site_content';
@import 'partials/twitter_hash';
@import 'partials/canvas';
@import 'partials/summary';
@import 'partials/header';
@import 'partials/portfolio_images';
@import 'partials/portfolio_list';
@import 'partials/portfolio_item';
@import 'partials/hp_portfolio';
@import 'partials/hp_portfolio_2';
@import 'partials/skill_block';
@import 'partials/footer';

*,
*::before,
*::after {
  box-sizing:border-box
  }

body {
  background-color: $site-background-color;
  // background-repeat: no-repeat;
  // background-image: linear-gradient(to top left, rgba(9, 84, 104, 1), rgba(21, 20, 59, 1));
  background-repeat: no-repeat;
  background-size: cover;
  color: $site-white;
  font-family: $frank-new;
  font-size: $base-font;
  margin: 0 auto;
  max-width: $wide-screen;
}

body > * {
    margin-bottom: var(--s0);
    padding-left: var(--s0);
    padding-right: var(--s0);
    padding-inline-end: var(--s0);
    padding-inline-start: var(--s0);
  }

main {
  @include media('<=tablet') {
      margin-block-start: var(--s0);
    }
}


header {
  @include media('<=tablet') {
    padding-block-end: var(--s05);
    padding-block-start: var(--s05);
  }
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}