//
// root sass
//
// Globals, Dynamic (functions / mixins), Vendors
@import 'vendor/reset.min';
@import 'scaleRules';
@import 'vendor/fluid_type';
@import 'vendor/include_media';
@import 'dynamic/functions';

// CUBE
// Composition
@import 'compose/stack';
@import 'compose/custom_breakpoints';
@import 'compose/colors';
@import 'compose/typography';
@import 'compose/grid';
@import 'compose/main';

// Utility
@import 'utility/debug';
@import 'utility/width_control';
@import 'utility/textUtils';
@import 'utility/decor';

// Block
@import 'block/nav';
@import 'block/tags_taxo';
@import 'block/jumbo';
@import 'block/articles';
@import 'block/experiments';
@import 'block/sidebar';
@import 'block/site_content';
@import 'block/twitter_hash';
@import 'block/canvas';
@import 'block/summary';
@import 'block/site_name';
@import 'block/header';
@import 'block/portfolio_images';
@import 'block/portfolio_list';
@import 'block/portfolio_item';
@import 'block/hp_portfolio';
@import 'block/hp_portfolio_2';
@import 'block/portfolio_involvement.scss';
@import 'block/skill_block';
@import 'block/contact';
@import 'block/svgElements';
@import 'block/blue_blocks';
@import 'block/footer';
@import 'block/features';
@import 'block/sketchbook';


// Exception
@import 'exception/single';
@import 'exception/spooky';
@import 'exception/redbot';
@import 'exception/drop_cap';
@import 'exception/mast_head';
@import 'exception/onion_dome';




*,
*::before,
*::after {
  box-sizing:border-box
  }

body {
  background-color: $site-prince-purple;
  color: $site-white;
  font-family: $frank-new;
  font-size: $base-font;
  min-height: 100vh;
  overflow-x: scroll;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

svg {
  &[data-filter] {
    display: block;
    height: 0;
  }
  
}
// TODO
// Disable hover on touch devices:
// @media (hover: hover) and (pointer: fine) {
//   a:hover { color: red; }
// }

// TODO add this to the reset
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: var(--s0);
  }
}