{{ printf "<!-- portfolio list template new Card template aqui  -->" | safeHTML }}

{{ partial "header.html" . }}
<main>
  <div class="grid-wrapper">
    <ul class="grid-wrapper__listParent--portfolio-list">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "portfolio") 20 }}
      {{ range $paginator.Pages }}
      {{ partial "portfolio_hero" . }}
      {{ end }}
    </ul>
  </div>
  <!-- {{ partial "pagination.html" . }} -->
</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}