{{ if .Site.IsServer }}
{{ printf "<!-- portfolio list template new Card template aqui  -->" | safeHTML }}
{{ end }}
{{ partial "header.html" . }}
<main>
  <div class="[ wrapper ][ grid-wrapper ]">
    <ul class="[ stack ]">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "portfolio") 20 }}
      {{ range $paginator.Pages }}
      {{ partial "portfolio_hero" . }}
      {{ end }}
    </ul>
  </div>
  <!-- {{ partial "pagination.html" . }} -->
</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}