{{ $role := .Params.projectRoles }}
{{ $clients := .Params.projectClients }}
{{ $date := .Params.projectDate }}
{{ $credits := .Params.projectCredits }}
{{ $tags := .Params.tags }}
{{ printf "<!-- +++ portfolio single item  -->" | safeHTML }}
{{ partial "header.html" . }}
<main>
  <div class="grid-wrapper">
    <div class="grid-wrapper__portfolioParent">
      <article class="grid-wrapper__portfolioParent--portfolio-item">
        <h1>{{ .Title }}</h1>
        <time>{{ .Date.Format "01.02.2006 15:04" }}</time>
        <div class="site-single__content portfolio__content">
          {{ .Content }}
        </div>
      </article>

      <aside class="grid-wrapper__portfolioParent--involvement">
        {{ if and ( $role ) (ne $role "" ) }}
        <h3>Involvement</h3>
        <ul>
          {{ range $role }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
        {{ end }}
        {{ if and ( $clients ) (ne $clients "" ) }}
        <h3>Client:</h3>
        <p>{{ $clients }}</p>
        {{ end }}
        {{ if and ( $date ) (ne $date "" ) }}
        <h3>Date:</h3>
        <p>{{ $date }}</p>
        {{ end }}
        {{ if and ( $credits ) (ne $credits "" ) }}
        
        <h3>Credit:</h3>
        <ul>
          {{ range $credits }}
          <li>
            {{ . }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ if ne $tags "" }}
        <h3>Filed under:</h3>
        <ul id="tags" class="site-tags">
          {{ range $tags }}
          <li class="site-tags__tag">
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </aside>

    </div>
  </div>
</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}