<!-- new layout flag: -->
{{ $newLayout := .Params.newLayout }}
<!-- put all the two main classes into variables: -->
{{ $agWrapper := "article-grid-wrapper"}}
{{ $sgWrapper := "section-grid-wrapper"}}
{{ $imgWrapper := "grid-wrapper" }}
{{ $local := .Site.IsServer }}
{{ $headerText := $.Scratch.Get "section-header" }}
{{ partial "header.html" . }}
<main>
  
  {{ if $newLayout }}
  <article class="[ wrapper ][ {{ $agWrapper }} ]">
    {{ else }}
  <article class="[ {{ $imgWrapper }} ]">
  {{ end }}
    <h1>{{ .Title }}</h1>
    {{ if $local }}
     <time>{{ .Lastmod | time.Format ":date_long" }}</time>
    {{ end }}
     <div class="[ {{ if ( $newLayout ) }}{{ $agWrapper }}{{ else }}{{ $imgWrapper }}{{ end }}__portfolioParent ]">
        <div  class="[ portfolio__content ][ stack ]">
          {{ .Content }}
        </div>
      </div>
       {{ partial "portfolio_involvement.html" . }}
  </article>
</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
{{/*  
{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}  
*/}}