///
/// Articles. Posts and general page rules
/// But not typographic...
///

.grid-wrapper {

  .site-article {
    padding-block: var(--s1);
  }

  .list-parent {

      .site-article {
        @include basic-article-wrapper('>=tablet', var(--measure), 0, var(--s1));
        @include basic-article-wrapper('>=desktop', var(--measure), 0, 0);
        padding-block: var(--s1);
      }
  }
}

[data-vendor],
[data-date] {
  font-size: var(--s-1);
}