.blue-block {
  background-color: $cool-sky-blue;
  border: var(--s05) solid $site-white;
  border-radius: var(--s2);
  box-shadow: 0 0 var(--s5) var(--s4) transparentize($site-prince-purple, 0.5);
  color: $site-dark-blue;
  display: flex;
  font-size: var(--s0);
  margin: var(--s2);
  // margin-block: var(--s2);
  margin-block: clamp(var(--s05), $preferredValue, var(--s2));
  margin-inline: clamp(var(--s05), $preferredValue, var(--s2));

& > * {
  align-self: center;
}

& > p {
  font-size: clamp(var(--s-1), $preferredValue, var(--s1));
  // padding: var(--s3);
  padding-block: 10%;
  padding-inline: 10%;
}

 &.alpha {
  //  font-size: var(--s1);
   grid-area: 4 / 3 / -4 / -1;
 }

 &.beta {
    grid-area: 5 / 1 / 7 / 3;

    // > p {
    //   margin: 0;
    //   // padding: 0;
    //   transform: rotate(90deg);
    // }
  }
}