//
// This partial is for the home page features section
//

.features {
  section {
    max-width: 50%;
    }

  section:nth-child(even) {
    align-self: flex-start;

    a {
            
      h2 {
        align-self: end;
        grid-area: 1 / 2 / 2 / -1;
      }

      p {
        grid-area: 2 / 2 / -2 / -1;
      }

      svg {
        grid-area: 1 / 1 / -2 / -2;
      }
    }
  }

  section:nth-child(odd) {
    align-self: flex-end;

    a {

      h2 {
        grid-area: 1 / 1 / 2 / -1;
        align-self: end;
      }

      p {
        grid-area: 2 / 1 / -2 / -1;
      }

      svg {
        grid-area: 1 / 2 / -2 / -1;
      }
    }
    
  }

  a {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, auto);
    text-decoration: none;
   
    h2 {
      font-weight: 600;
    }

    svg {
      // left: 0;
      // position: absolute;
      // top: 0;
      // width: 35%;
    }
  }  
}