///
/// Header
///

header {
  background-color: $site-black;
  padding-block: ft(var(--s1), var(--s2));
  // padding-block-end: var(--s1);
  @include media('>=tablet') {
    display: block;
  }

  @include media('<=tablet') {
    padding-block: initial;
  }

  // TODO: This feels a bit fragile and could cause problems down the road:
  & > .wrapper {
    display: flex;
    align-items: center;
  }
}


