///
/// Header
///

header {
  background-color: $site-black;
  padding-top: var(--s5) 0 var(--s1);
  padding-block-start: var(--s3);
  padding-block-end: var(--s1);
  @include media('>=tablet') {
    display: block;
  }

  .siteNameContainer {
    @include media('>=phone') {
      display: block;
      flex: 2 1 95%;
    }
    // padding: var(--s0) 0;
    // padding-inline-start: var(--s0) 0;
    // padding-block-end: (var(--s0));
    // padding-block-start: (var(--s0));

    &--name {
      
      @include media('>=tablet') {
        margin: 0;
      }

      font-size: clamp(24px, 2.25vw, 48px);
      @include basic-drop-shadow;
      align-self: end;
      color: $site-white;
      font-style: normal;
      font-weight: 200;
      text-decoration: none;
    }
  }
}
