//
// home page portfolio grid
// This file handles the styling of the grid of cards on home page
// this grid represents all the current portfolio items that are
// currently published
//

///
/// Home page portfolio grid & flex box items
///
.portfolio-container {
  // handles placement on the parent grid:
  // @include media('>=phone') {
  //   // grid: auto / 1fr;
  //   // grid-column: 1 / 1;
  //   // grid-row: 4 / 5;
  // }

  // @include media('>=tablet') {
  //   // grid: auto / repeat(4, 1fr);
  //   // grid-column: 1 / 5;
  // }

  // @include media('>=desktop') {
  //   // grid: auto / repeat(5, 1fr);
  // }

  .portfolio-flex {
    margin-top: clamp(var(--s1), var(--s0), var(--s5));
    display: flex;
    flex-wrap: wrap;
    
    @include media('<=phone') {
      display: block;
    }


    li {
      @include media('>=phone', '<=25.875em') {
        flex: 0 1 100%;
      }

      @include media('>=25.875em', '<=tablet') {
        flex: 0 1 50%;

        &:last-child {
          max-width: 50%;
        }
      }

      @include media('>=tablet') {
        flex: 0 1 25%;
        max-width: 25%;

        &:last-child {
          max-width: 25%;
        }
      }

      a {
        display: block;
      }
    }

    &__content {
      figure {
        margin: 0;
        padding: 0;
        position: relative;

        img {
          height: 100%;
          width: 100%;
          border: 0;
        }

        figcaption {
          bottom: var(--s1);
          background-color: $site-dark-blue;
          position: absolute;
          right: var(--s2);
          text-align: right;
          width: 85%;
          @include responsive-font(2.25vw, 22px, 18px, 12px);
          @include media('>=phone') {
            padding: var(--s-1);
          }
        }
      } // /figure
    }
  }
}
