//
// Home page Jumbo space
// This should handle animations and svg elements in that space
// 

.jumbo {
  display: grid;
  grid-template-columns: 1fr;  

  @include media('>=tablet') {
    grid-template-columns: repeat(5, 1fr);  
  }
  
  grid-template-rows: repeat(auto-fit, min-content);
  min-height: 100vh;
  position: relative;
  width: 100%;

  .bot-contain {
    display: grid;
    grid-area: 1 / 1 / 8 / -1;
    z-index: -1;
    @include media('<=tablet') {
      overflow: hidden;
    }
   }

   .spooky {
     @include media('<=tablet') {
       height: 100%;
     }
   }
  //  .red-bot {}
}


