///
/// Navigation
///


// Shared Nav properties (Large vs. Small Screens)
// These rules apply to the Footer Nav
.siteNavigation,
.footerNavigation {
 
  ul {
   display: flex;

   li {
    margin-inline-end: var(--s0);
    padding-block: var(--s0) 0;
    padding-inline: 0 var(--s0);
    text-transform: capitalize;

    // @include media('<tablet') {
    //   // align-self: flex-end;
    // }
    
    a,
    a:visited {
      @include basic-drop-shadow(text);
    }

    a {
      align-self: center;
      padding-block: var(--s-1);
      padding-inline: var(--s-1);
      text-decoration: none;
    }
   }

   .social-icon {
    @include basic-drop-shadow(svg);
    // align-self: flex-end;
    
    a {
      align-items: center;
      display: flex;

      // &:hover {
      //   box-shadow: none;
      // }

      &:hover svg,
      &:focus svg {
        fill: var(--hover-color);
        }
    }

    svg {
      fill: $site-white;
      height: var(--s1);
    }
   }
  }
}

// Mobile Nav
.siteNavigation {

  button {
    &:active,
    &:focus {
      fill: var(--hover-color);
      @include focus-ring(outline, var(--hover-color));
    }

    @include media('>=phone') {
      @supports not (display: flex) {
        display: block;
      }

      background: transparentize($site-black, 0.5);
      border: none;
      color: currentColor;
      cursor: pointer;
      font-size: var(--s-1);
      display: flex;
      flex-direction: column;
      padding: var(--s0);

      .inactive svg {
        fill: currentColor;
        transform: rotate(0deg), scaleY(var(--s1));
        transition: transform ease-out 210ms, fill ease-out 110ms;
      }

      svg {
        fill: var(--hover-color);
        height: var(--s1);
        transform: rotate(90deg);
        transition: transform ease-in 210ms, fill ease-in 110ms;
        width: var(--s1);
      }

      .menu-label {
        color: currentColor;
        @include basic-drop-shadow('text');
      }

      .button-icon {
        &__open {
          display: block;
          position: relative;
          // top: 0.25rem;
        }

        &__closed {
          display: none;
        }
      }
    } // /phone mq

    &.button-active {
      background: transparentize($site-black, 0.2);

      .menu-label {
        color: var(--hover-color);
      }
    }

    @include media('>=tablet') {
      display: none;
    }
  }  

  ul {
    @include media('>=phone') {
      align-items: flex-end;
      background: transparentize($site-black, 0.2);
      background-image: linear-gradient($site-black 20%, transparentize($site-black, 1) 100%);
      // color: transparent;
      filter: opacity(0);
      flex-direction: column;
      flex-wrap: wrap;
      height: 100vh; // TODO fix this view port unit 
      justify-content: flex-start;
      left: 0;
      position: absolute;
      max-width: unset;
      transition: all ease-out 101ms;
      width: 100%;

      li {
        display: flex;
        margin-inline-end: var(--s-1);
        padding-block-start:  var(--s-2);
        padding-block-end: var(--s-2);
        padding-inline-end: var(--s-2);
        padding-inline-start: var(--s-2);
      }

      &.is-inactive {
        @include visually-hidden;
      }

      &.is-active {
        color: $site-white;
        filter: opacity(1);
        transition: all ease-in 101ms;
        z-index: 1000;
      }
    }

    @include media('>=tablet') {
      // display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      filter: opacity(1);
      height: auto;
      position: relative;
    }
  }


  /// Uses classes to control/style all else:
  .social-svg {
    display: none;
  }
}