figure {
  margin: 0;

  img {
    width: 100%;
  }
}

.image-block {

  &__100 {
    width: 100%;
  }

  &__50 {
    @include media('<=tablet') {
      display: block;
      width: 100%;
    }
    width: 50%;
  }

  &__33 {
    @include media('<tablet') {
      display: block;
      width: 100%;
    }

    @include media('>=tablet') {
      margin-right: 1vw;
      width: 33.33%;

      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }

  &__25 {
    @include media('<tablet') {
      display: block;
      width: 100%;
    }

    @include media('>=tablet') {
      margin-right: 1vw;
      width: 25%;

      &:nth-child(4) {
        margin-right: 0;
      }
    }

    // border: 1px dotted $site-hot-orange;
    
  }
} // /.image-block