.portfolio-involvement {
    // background-color: transparentize($site-prince-purple, 0.1);
    --t-prince-purple: #{transparentize($site-prince-purple, 0.15)};
    background-image: linear-gradient($site-prince-purple 25% 60%, var(--t-prince-purple));
    color: $site-white;
    font-size: var(--s05);
    font-style: italic;
    padding-bottom: var(--s1);
    padding-block-end: var(--s1);
    z-index: 2;

    @include media('>=phone') {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      width: 100%;
    }

    @include media('>=tablet') {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-block-start: calc(var(--s1) * -1);
    }

    h3 {
      font-size: ft(var(--s-1), var(--s0));
      font-style: italic;
      font-weight: 450;
      margin: var(--s-1) 0;
    }
  }