//
// Portfolio list item
// each item on the page: ../portfolio/
//
.portfolio-list-item {
  // TODO: move this list rule to E for Exception
  list-style-type: none;
  // margin: var(--s1) 0;

  &__content {
    
    &--hero {
      // height: 100%;
      margin: 0;
      max-width: $wide-screen;
      padding: 0;
      overflow: hidden;

      @include media('>=phone') {
        align-self: start;
        grid-column: 2 / 5;
        grid-row: 1 / 5;
      }

      @include media('>=tablet') {
        grid-column: 2 / 4;
        grid-row: 1 / 5;
      }

      img {
        height: 100%;
        opacity: 0.75;
        width: 100%;
      }
    }

    h1 {
      @include media('>=phone') {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
      }

      @include media('>=tablet') {
        grid-row: 2 / 3;
      }

      align-self: center;
      background-color: (transparentize($site-black, 0.2));
      font-weight: 400;
      padding: clamp(var(--s0), 2.5vw, var(--s1));
      text-shadow: 1px 1px 10px transparentize($site-black, 0.5);
      z-index: 1;
    }

    &--description {
      align-self: end;
      font-size: clamp(var(--s05), 1.5vw, var(--s0));
      grid-column: 2 / -1;
      padding: var(--s0);
      // display: initial;
      // @include responsive-font(1.5vw, 0.9em, 18px, 22px);

      // @include media('>=phone') {
      //   display: none;
      // }

      @include media('>=tablet') {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        
        
      }

      @include media('>=desktop') {
        margin-top: var(--s1);
      }

      background-color: transparentize($site-black, 0.2);
      z-index: 1;
    }

    &--static-tags {
      // @include responsive-font(1.5vw, 0.8em, 10px, 18px);
      font-size: clamp(8px, var(--s-1), 100vw);
      grid-column: 2 / -1;

      @include media('>=phone') {
        // display: none;
      }

      @include media('>=tablet') {
        display: initial;
        grid-column: 2 / -2;
      }

      li {
        display: inline-block;
        padding: var(--s-1) var(--s0);
      }

      background-color: transparentize($site-black, 0.15);
      z-index: 1;
    }

    @include media('>=phone') {
      grid-template-columns: minmax(3vw, 8vw) 3fr 3fr;
      grid-template-rows: minmax(2.25vh, 4.5vh) minmax(auto, max-content);
      align-items: center;
    }

    @include media('>=tablet') {
      grid-template-columns: var(--s1) repeat(2, minmax(10px, 2fr));
      grid-template-rows: minmax(3vh, 6vh) 3fr;
      align-items: center;
    }

    @include media('>=desktop') {
      grid-template-columns: var(--s2) 1.5fr 2fr;
      grid-template-rows: repeat(2, minmax(3vh, 7vh)) minmax(auto, max-content) minmax(1vh, 2vh);
      align-items: start;
    }

    display: grid;
  }

  a {
    display: block;
    text-decoration: none;
  }
}
