///
/// The main styles for the river of posts
/// grid settings can be found over in _grid.scss
/// TODO: determine if we can eliminate this partial or repatriate the styles to more appropriate style sheets

.site-content {


  button {
    background: transparent;
    border: 0.15em solid $site-white;
    border-radius: 0.35em;
    color: $site-white;
    font-size: 1.25rem;
    padding: 0.5em 1em;
  }

  input {
    background: $site-white;
    border: 0.15em solid $site-white;
    border-radius: 0.35em;
    font-size: 1.25rem;
    padding: 0.5em 1em;
  }
}

.grid-wrapper {
  .subtitle-grid-container {

    @include media('>=tablet') {
      background: transparent;
    }

    &__subTitle {
      @include responsive-font(7.25vw, 4.5rem, 17rem, 200px);
      @include media('>=phone') {
        margin: 0;
      }

      @include media('>=tablet') {
        @include slide-up-down(slideDownLarge);
        @include basic-drop-shadow(text);
        padding: 0;
      }
    }
  }

  .mast-head {
    margin: var(--s0) 0;
    margin-block-end: var(--s0);
    margin-block-start: var(--s0);
    max-width: var(--smallMeasure);
    @include media('>=phone') {
    }

    @include responsive-font(2.75vw, 1.25em, 5.5rem, 32px);
    @include basic-drop-shadow(text);
    font-weight: 200;
    font-style: normal;
    z-index: 1;

    & p::first-letter {
      @include responsive-font(8vw, 18px, 85px, 32px);
      line-height: 0.8;
    }
  }

  .grid-site-data {
    @include media('>=phone') {
      @include responsive-font(3vw, 3rem, 5rem, 18px);
    }
  }

  &__homePage {
    width: 90vw;
  }
}
