.twitter-hash {

  &__twitter-return {

    .morse-output {
      
      font-size: 8rem;
      line-height: 1;
      margin: 0;
      padding: 0;

      & svg {
        fill: transparentize($site-white, 0.7);
        margin: 0 0.25rem;
      }

$dot-height: 3.364584375rem;
$dot-width: $dot-height;

      .dot {
        height: ($dot-height * 2);
        width: ($dot-width * 2);
        // width='107.66667' height='107.66667' 
      }


$dash-height: $dot-height;
$dash-width: 6.25rem;
      .dash {
        height: ($dash-height * 2); // the old & orginal height 3.39014625rem;
        width: ($dash-width * 2);
        // width='200' height='108.48468'
      }
    }
}

}
