.portfolioInvolvement {
    background-color: transparentize($site-black, 0.1);
    padding-bottom: var(--s1);
    padding-block-end: var(--s1);
    z-index: 2;

    @include media('>=phone') {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      width: 100%;
    }

    @include media('>=tablet') {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }