{{ $local := $.Site.IsServer }}
{{ partial "header.html" . }}
<main class="[ taxo-list-portfolio ]">
  <div class="[ wrapper ][ grid-wrapper ]">
    <h1>{{ .Title }}</h1>
    <ul>
      {{ $paginator := .Paginate (where .Data.Pages "Type" "portfolio") 20 }}
      {{ range $paginator.Pages }}
      {{ partial "portfolio_hero" . }}
      {{ end }}
    </ul>
  </div>
  <!-- {{ partial "pagination.html" . }} -->
</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}

{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}