{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- ++ taxonomy list template ++ -->" | safeHTML }}
{{ end  }}

{{ partial "header.html" . }}
<main class="taxo-list">
  <div class="[ wrapper ][ grid-wrapper ]">
    
    <h1>{{ .Title }}</h1>
    <ul class="[ stack ]">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "portfolio") 20 }}
      {{ range $paginator.Pages }}
      {{ partial "portfolio_hero" . }}
      {{ end }}
    </ul>
  </div>
  <!-- {{ partial "pagination.html" . }} -->
</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}