{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- XXX feature single item XXX -->" | safeHTML }}
{{ end  }}
<!-- new layout flag: -->
{{/*  {{ $newLayout := .Params.newLayout }}
<!-- put all the two main classes into variables: -->
{{ $agWrapper := "article-grid-wrapper"}}
{{ $sgWrapper := "section-grid-wrapper"}}
{{ $imgWrapper := "grid-wrapper" }}  */}}
{{ $local := .Site.IsServer }}
{{ $headerText := $.Scratch.Get "section-header" }}
{{ partial "header.html" . }}
<main>
  <article class="[ wrapper ][ article-grid-wrapper ]">
    <h1>{{ .Title }}</h1>
    {{ if $local }}
     <time>{{ .Lastmod | time.Format ":date_long" }}</time>
    {{ end }}
     <div class="[ article-grid-wrapper__portfolioParent ]">
        <div  class="[ portfolio__content ][ stack ]">
          {{ .Content }}
        </div>
      </div>
  </article>
</main>
{{/*  {{ if $local }}
{{ partial "sidebar.html" . }}
{{ end }}  */}}
{{ partial "footer.html" . }}

{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}  
