<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
  <title>
    portfolio_overlay
  </title>
  <defs>
    <clipPath id="four_dots">
        <circle class="d" cx="125" cy="125" r="75"/>
        <circle class="d" cx="375" cy="125" r="75"/>
        <circle class="d" cx="125" cy="375" r="75"/>
        <circle class="d" cx="375" cy="375" r="75"/>
    </clipPath>
    <clipPath id="one_circle">
      <circle  class="a" cx="250" cy="250" r="250"/>
    </clipPath>
    <clipPath id="one_diagonal">
      <path  class="b" d="M500 0L0 500h500V0z"/>
    </clipPath>
    <clipPath id="two_squares">
      <path class="c" d="M0 0h250v250H0zM250 250h250v250H250z"/>
    </clipPath>
    <clipPath id="right_stepr">
      <path class="e" d="M500 0h-50v50H350v100H250v100h-75v119l-45 1v30l-29.929-.071L50 400l.333 49.667L0 450v50h500V0z"/>
    </clipPath>
    <clipPath id="left_dots">
        <circle class="f" cx="25" cy="25" r="25"/>
        <circle class="f" cx="75" cy="75" r="25"/>
        <circle class="f" cx="125" cy="125" r="25"/>
        <circle class="f" cx="175" cy="175" r="25"/>
        <circle class="f" cx="225" cy="225" r="25"/>
        <circle class="f" cx="275" cy="275" r="25"/>
        <circle class="f" cx="75" cy="125" r="25"/>
        <circle class="f" cx="125" cy="175" r="25"/>
        <circle class="f" cx="175" cy="225" r="25"/>
        <circle class="f" cx="225" cy="275" r="25"/>
        <circle class="f" cx="275" cy="325" r="25"/>
        <circle class="f" cx="75" cy="175" r="25"/>
        <circle class="f" cx="125" cy="225" r="25"/>
        <circle class="f" cx="175" cy="275" r="25"/>
        <circle class="f" cx="225" cy="325" r="25"/>
        <circle class="f" cx="275" cy="375" r="25"/>
        <circle class="f" cx="75" cy="225" r="25"/>
        <circle class="f" cx="125" cy="275" r="25"/>
        <circle class="f" cx="175" cy="325" r="25"/>
        <circle class="f" cx="225" cy="375" r="25"/>
        <circle class="f" cx="275" cy="425" r="25"/>
        <circle class="f" cx="75" cy="275" r="25"/>
        <circle class="f" cx="125" cy="325" r="25"/>
        <circle class="f" cx="175" cy="375" r="25"/>
        <circle class="f" cx="225" cy="425" r="25"/>
        <circle class="f" cx="275" cy="475" r="25"/>
        <circle class="f" cx="75" cy="325" r="25"/>
        <circle class="f" cx="125" cy="375" r="25"/>
        <circle class="f" cx="175" cy="425" r="25"/>
        <circle class="f" cx="225" cy="475" r="25"/>
        <circle class="f" cx="75" cy="375" r="25"/>
        <circle class="f" cx="125" cy="425" r="25"/>
        <circle class="f" cx="175" cy="475" r="25"/>
        <circle class="f" cx="75" cy="425" r="25"/>
        <circle class="f" cx="125" cy="475" r="25"/>
        <circle class="f" cx="75" cy="475" r="25"/>
        <circle class="f" cx="25" cy="75" r="25"/>
        <circle class="f" cx="25" cy="125" r="25"/>
        <circle class="f" cx="25" cy="175" r="25"/>
        <circle class="f" cx="25" cy="225" r="25"/>
        <circle class="f" cx="25" cy="275" r="25"/>
        <circle class="f" cx="25" cy="325" r="25"/>
        <circle class="f" cx="25" cy="375" r="25"/>
        <circle class="f" cx="25" cy="425" r="25"/>
        <circle class="f" cx="25" cy="475" r="25"/>
        <circle class="f" cx="325" cy="325" r="25"/>
        <circle class="f" cx="375" cy="375" r="25"/>
        <circle class="f" cx="425" cy="425" r="25"/>
        <circle class="f" cx="475" cy="475" r="25"/>
        <circle class="f" cx="325" cy="375" r="25"/>
        <circle class="f" cx="375" cy="425" r="25"/>
        <circle class="f" cx="425" cy="475" r="25"/>
        <circle class="f" cx="325" cy="425" r="25"/>
        <circle class="f" cx="375" cy="475" r="25"/>
        <circle class="f" cx="325" cy="475" r="25"/>
    </clipPath>
    <clipPath  id="over_dots">
        <circle class="g" cx="25" cy="25" r="25"/>
        <circle class="g" cx="75" cy="75" r="25"/>
        <circle class="g" cx="125" cy="125" r="25"/>
        <circle class="g" cx="175" cy="175" r="25"/>
        <circle class="g" cx="225" cy="225" r="25"/>
        <circle class="g" cx="75" cy="125" r="25"/>
        <circle class="g" cx="325" cy="175" r="25"/>
        <circle class="g" cx="175" cy="225" r="25"/>
        <circle class="g" cx="225" cy="275" r="25"/>
        <circle class="g" cx="275" cy="325" r="25"/>
        <circle class="g" cx="275" cy="175" r="25"/>
        <circle class="g" cx="125" cy="225" r="25"/>
        <circle class="g" cx="475" cy="275" r="25"/>
        <circle class="g" cx="225" cy="325" r="25"/>
        <circle class="g" cx="75" cy="225" r="25"/>
        <circle class="g" cx="425" cy="275" r="25"/>
        <circle class="g" cx="175" cy="325" r="25"/>
        <circle class="g" cx="225" cy="375" r="25"/>
        <circle class="g" cx="275" cy="425" r="25"/>
        <circle class="g" cx="275" cy="475" r="25"/>
        <circle class="g" cx="375" cy="275" r="25"/>
        <circle class="g" cx="125" cy="325" r="25"/>
        <circle class="g" cx="325" cy="75" r="25"/>
        <circle class="g" cx="225" cy="425" r="25"/>
        <circle class="g" cx="75" cy="325" r="25"/>
        <circle class="g" cx="125" cy="375" r="25"/>
        <circle class="g" cx="325" cy="125" r="25"/>
        <circle class="g" cx="475" cy="375" r="25"/>
        <circle class="g" cx="125" cy="425" r="25"/>
        <circle class="g" cx="75" cy="425" r="25"/>
        <circle class="g" cx="125" cy="75" r="25"/>
        <circle class="g" cx="25" cy="125" r="25"/>
        <circle class="g" cx="225" cy="175" r="25"/>
        <circle class="g" cx="25" cy="225" r="25"/>
        <circle class="g" cx="325" cy="275" r="25"/>
        <circle class="g" cx="25" cy="325" r="25"/>
        <circle class="g" cx="425" cy="375" r="25"/>
        <circle class="g" cx="475" cy="425" r="25"/>
        <circle class="g" cx="325" cy="325" r="25"/>
        <circle class="g" cx="375" cy="375" r="25"/>
        <circle class="g" cx="475" cy="475" r="25"/>
        <circle class="g" cx="325" cy="375" r="25"/>
        <circle class="g" cx="325" cy="425" r="25"/>
    </clipPath>
  </defs>
</svg>
