<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet">
  <title>
    portfolio_overlay
  </title>
  <defs>
    <clipPath id="big_circle" clipPathUnits="objectBoundingBox">
      <circle cx=".5" cy=".5" r=".5" />
    </clipPath>
    <clipPath id="squares_circles" clipPathUnits="objectBoundingBox">
      <rect  width=".50" height=".50"/>
      <rect  x=".50" y=".50" width=".50" height=".50"/>
      <circle  cx=".75" cy=".25" r=".15"/>
      <circle  cx=".25" cy=".75" r=".15"/>
    </clipPath>
    <clipPath id="four_dots" clipPathUnits="objectBoundingBox">
        <circle cx="0.2642126" cy="0.242126" r="0.17" />
        <circle cx="0.742126" cy="0.242126" r="0.17" />        
        <circle cx="0.2642126" cy="0.75" r="0.17" />
        <circle cx="0.742126" cy="0.75" r="0.17" />    
    </clipPath>
    <clipPath id="one_circle" clipPathUnits="objectBoundingBox">
      <circle   cx="250" cy="250" r="250"/>
    </clipPath>
    <clipPath id="one_diagonal" clipPathUnits="objectBoundingBox">
        <polygon  points="1 0 0 1 1 1 1 0"/>
    </clipPath>
    <clipPath id="two_squares" clipPathUnits="objectBoundingBox">
        <rect  width=".5" height=".5"/>
        <rect  x=".5" y=".5" width=".5" height=".5"/>
    </clipPath>
    <clipPath id="right_stepr" clipPathUnits="objectBoundingBox">
      <path class="e" d="M500 0h-50v50H350v100H250v100h-75v119l-45 1v30l-29.929-.071L50 400l.333 49.667L0 450v50h500V0z"/>
    </clipPath>
    <clipPath id="left_dots" clipPathUnits="objectBoundingBox">
        <circle class="f" cx="25" cy="25" r="25"/>
        <circle class="f" cx="75" cy="75" r="25"/>
        <circle class="f" cx="125" cy="125" r="25"/>
        <circle class="f" cx="175" cy="175" r="25"/>
        <circle class="f" cx="225" cy="225" r="25"/>
        <circle class="f" cx="275" cy="275" r="25"/>
        <circle class="f" cx="75" cy="125" r="25"/>
        <circle class="f" cx="125" cy="175" r="25"/>
        <circle class="f" cx="175" cy="225" r="25"/>
        <circle class="f" cx="225" cy="275" r="25"/>
        <circle class="f" cx="275" cy="325" r="25"/>
        <circle class="f" cx="75" cy="175" r="25"/>
        <circle class="f" cx="125" cy="225" r="25"/>
        <circle class="f" cx="175" cy="275" r="25"/>
        <circle class="f" cx="225" cy="325" r="25"/>
        <circle class="f" cx="275" cy="375" r="25"/>
        <circle class="f" cx="75" cy="225" r="25"/>
        <circle class="f" cx="125" cy="275" r="25"/>
        <circle class="f" cx="175" cy="325" r="25"/>
        <circle class="f" cx="225" cy="375" r="25"/>
        <circle class="f" cx="275" cy="425" r="25"/>
        <circle class="f" cx="75" cy="275" r="25"/>
        <circle class="f" cx="125" cy="325" r="25"/>
        <circle class="f" cx="175" cy="375" r="25"/>
        <circle class="f" cx="225" cy="425" r="25"/>
        <circle class="f" cx="275" cy="475" r="25"/>
        <circle class="f" cx="75" cy="325" r="25"/>
        <circle class="f" cx="125" cy="375" r="25"/>
        <circle class="f" cx="175" cy="425" r="25"/>
        <circle class="f" cx="225" cy="475" r="25"/>
        <circle class="f" cx="75" cy="375" r="25"/>
        <circle class="f" cx="125" cy="425" r="25"/>
        <circle class="f" cx="175" cy="475" r="25"/>
        <circle class="f" cx="75" cy="425" r="25"/>
        <circle class="f" cx="125" cy="475" r="25"/>
        <circle class="f" cx="75" cy="475" r="25"/>
        <circle class="f" cx="25" cy="75" r="25"/>
        <circle class="f" cx="25" cy="125" r="25"/>
        <circle class="f" cx="25" cy="175" r="25"/>
        <circle class="f" cx="25" cy="225" r="25"/>
        <circle class="f" cx="25" cy="275" r="25"/>
        <circle class="f" cx="25" cy="325" r="25"/>
        <circle class="f" cx="25" cy="375" r="25"/>
        <circle class="f" cx="25" cy="425" r="25"/>
        <circle class="f" cx="25" cy="475" r="25"/>
        <circle class="f" cx="325" cy="325" r="25"/>
        <circle class="f" cx="375" cy="375" r="25"/>
        <circle class="f" cx="425" cy="425" r="25"/>
        <circle class="f" cx="475" cy="475" r="25"/>
        <circle class="f" cx="325" cy="375" r="25"/>
        <circle class="f" cx="375" cy="425" r="25"/>
        <circle class="f" cx="425" cy="475" r="25"/>
        <circle class="f" cx="325" cy="425" r="25"/>
        <circle class="f" cx="375" cy="475" r="25"/>
        <circle class="f" cx="325" cy="475" r="25"/>
    </clipPath>
    <clipPath  id="over_dots" clipPathUnits="objectBoundingBox">
        <circle class="g" cx=".25" cy=".25"  r=".02"/>
        <circle class="g" cx=".75" cy=".75" r=".02"/>
        <circle class="g" cx=".125" cy=".125" r=".02"/>
        <circle class="g" cx=".175" cy=".175" r=".02"/>
        <circle class="g" cx=".225" cy=".225" r=".02"/>
        <circle class="g" cx=".75" cy=".125" r=".02"/>
        <circle class="g" cx=".325" cy=".175" r=".02"/>
        <circle class="g" cx=".175" cy=".225" r=".02"/>
        <circle class="g" cx=".225" cy=".275" r=".02"/>
        <circle class="g" cx=".275" cy=".325" r=".02"/>
        <circle class="g" cx=".275" cy=".175" r=".02"/>
        <circle class="g" cx=".125" cy=".225" r=".02"/>
        <circle class="g" cx=".475" cy=".275" r=".02"/>
        <circle class="g" cx=".225" cy=".325" r=".02"/>
        <circle class="g" cx=".75" cy=".225" r=".02"/>
        <circle class="g" cx=".425" cy=".275" r=".02"/>
        <circle class="g" cx=".175" cy=".325" r=".02"/>
        <circle class="g" cx=".225" cy=".375" r=".02"/>
        <circle class="g" cx=".275" cy=".425" r=".02"/>
        <circle class="g" cx=".275" cy=".475" r=".02"/>
        <circle class="g" cx=".375" cy=".275" r=".02"/>
        <circle class="g" cx=".125" cy=".325" r=".02"/>
        <circle class="g" cx=".325" cy=".75" r=".02"/>
        <circle class="g" cx=".225" cy=".425" r=".02"/>
        <circle class="g" cx=".75" cy=".325" r=".02"/>
        <circle class="g" cx=".125" cy=".375" r=".02"/>
        <circle class="g" cx=".325" cy=".125" r=".02"/>
        <circle class="g" cx=".475" cy=".375" r=".02"/>
        <circle class="g" cx=".125" cy=".425" r=".02"/>
        <circle class="g" cx=".75" cy=".425" r=".02"/>
        <circle class="g" cx=".125" cy=".75" r=".02"/>
        <circle class="g" cx=".25" cy=".125" r=".02"/>
        <circle class="g" cx=".225" cy=".175" r=".02"/>
        <circle class="g" cx=".25" cy=".225" r=".02"/>
        <circle class="g" cx=".325" cy=".275" r=".02"/>
        <circle class="g" cx=".25" cy=".325" r=".02"/>
        <circle class="g" cx=".425" cy=".375" r=".02"/>
        <circle class="g" cx=".475" cy=".425" r=".02"/>
        <circle class="g" cx=".325" cy=".325" r=".02"/>
        <circle class="g" cx=".375" cy=".375" r=".02"/>
        <circle class="g" cx=".475" cy=".475" r=".02"/>
        <circle class="g" cx=".325" cy=".375" r=".02"/>
        <circle class="g" cx=".325" cy=".425" r=".02"/>
    </clipPath>
    <clipPath id="box_diagonals" clipPathUnits="objectBoundingBox">
      <rect width=".5" height=".5"/>
      <polygon  points=".5 1 .5 .5 0 1 .5 1"/>
      <polygon  points=".5 .5 1 .5 1 0 .5 .5"/>
    </clipPath>
    <clipPath id="quarter_circle" clipPathUnits="objectBoundingBox">
      <circle cx="1" cy="1" r="1"/>
    </clipPath>
    <clipPath id="diagonal_dot" clipPathUnits="objectBoundingBox">
      <polygon points="0 0 1 1 0 1 0 0"/>
      <circle cx=".75" cy=".25" r=".25"/>
    </clipPath> 
    <clipPath id="variable_dots">
      <circle  cx="145" cy="145" r="145"/>
      <circle  cx="351.5" cy="352.5" r="146"/>
      <circle  cx="422.5" cy="73.5" r="73.5"/>
      <circle  cx="73.5" cy="424.5" r="73.5"/>
    </clipPath> 
  </defs>
</svg>
