///
/// Header
///

.site-header {
  &__siteNameContainer {
    padding: var(--s0) 0;
    padding-inline-start: var(--s0) 0;

    &--name {
      
      @include media('>=tablet') {
        margin: 0;
      }
      // @include responsive-font(2.25vw, 24px, 48px, 64px);
      font-size: clamp(24px, 2.25vw, 48px);
      @include basic-drop-shadow;
      align-self: end;
      color: $site-white;
      font-style: normal;
      font-weight: 200;
      text-decoration: none;

      &:visited {
        color: $site-white;
      }
    }
  }
  background: transparent;
  border-bottom: var(--s-4) solid $site-white;
}
