///
/// Header
///

.site-header {
  
  &__siteNameContainer {

    &--name {

      @include responsive-font(3.25vw, 1.3em, 4em, 36px);
      align-self: end;
      color: $site-white;
      font-family: $sans-serif;
      font-style: normal;
      font-weight: 200;
      text-decoration: none;
  
      &:visited {
        color: $site-white;
      }
    }
  }
  background: transparent;
}

.fonts-loaded {
  
  .site-header {  
  
    &__siteNameContainer {
  
      &--name {
      font-family: $frank-new;
      }
    }
  }
}