//
// home page portfolio grid
// This file handles the styling of the grid of cards on home page
// this grid represents all the current portfolio items that are
// currently published
//

///
/// Home page portfolio grid & flex box items
///
.portfolio-container {
  // handles placement on the parent grid:
  @include media('>=phone') {
    grid: auto / 1fr;
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }

  @include media('>=tablet') {
    grid: auto / repeat(4, 1fr);
    grid-column: 1 / 5;
  }

  @include media('>=desktop') {
    grid: auto / repeat(5, 1fr);
    // grid-column: 1 / 5;
  }
  a {
    border-bottom: 2px solid $site-white;
    text-decoration: none;
  }

  h3 {
    @include responsive-font(3.75vw, 2.25em, 5.5em, 32px);
    @include media('>=phone') {
      padding-left: 6vw;
    }

    @include media('>=tablet') {
      padding-left: 1.5vw;
    }

    margin: 0;
  }

  &__containerSubTitle {
    font-family: $frank-new;

    @include media('>=phone') {
      margin-left: 6vw;
    }

    @include media('>=tablet') {
      margin-left: 1.5vw;
    }

    font-size: 1.8rem;
  }

  .portfolio-flex {
    @include media('<=phone') {
      display: block;
    }

    @include media('>=phone', '<=tablet') {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include media('>=tablet') {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    margin: 5vw 0 0;
    padding: 0 1.5vw;

    // &__mastHead {
    //   flex: 1 1 100%;
    // }

    &__summary {
      @include media('>=phone', '<=25.875em') {
        flex: 0 1 100%;
      }

      @include media('>=25.875em', '<=tablet') {
        flex: 0 1 50%;

        &:last-child {
          max-width: 50%;
        }
      }

      @include media('>=tablet') {
        flex: 0 1 25%;
        max-width: 25%;

        &:last-child {
          max-width: 25%;
        }
      }

      a {
        display: block;
      }
    }

    &__content {
      figure {
        margin: 0;
        padding: 0;
        position: relative;

        img {
          height: 100%;
          width: 100%;
          border: 0;
        }

        figcaption {
          @include responsive-font(2.25vw, 22px, 18px, 12px);
          @include media('>=phone') {
            padding: 3vw 2ex;
          }

          @include media('>=tablet') {
            padding: 1vw 1ex;
          }

          bottom: 3vh;
          // box-shadow: 10px 10px 0 #333;
          font-family: $justus-pro;
          background-color: $site-dark-blue;
          padding: 1vw 2ex;
          position: absolute;
          right: 2vw;
          text-align: right;
          width: 85%;
        }
        // Need to find a better way to add this color class to the overlay.
        // adding the class (read: which color to use) is fine and all but the css below is seemingly clunky, JS might better be used to randomize which colors are used as overlays and _not_ add the color at the post level, which would require prior knowledge of which color : classes exist...

        // that said, a better step would be to write some JS so apply those color classes on its own and the we don't have to worry about applying them manually anywhere...

        // Same w/ the overlays... 🤔
        // also these SVG rules should be moved to a partial...

        // and probably made into a for/each function instead of verbosely outputting here...

        &.fourDots {
          @include svg-overlay(#four_dots);
        }

        &.twoSquares {
          @include svg-overlay(#two_squares);
        }

        &.overDots {
          @include svg-overlay(#over_dots);
        }

        &.oneDiagonal {
          @include svg-overlay(#one_diagonal);
        }

        &.oneDiagonal-45 {
          @include svg-overlay(#one_diagonal);
        }

        &.boxDiagonals {
          @include svg-overlay(#box_diagonals);
        }

        &.variableDots {
          @include svg-overlay(#variable_dots);
        }

        &.diagonalDot {
          @include svg-overlay(#diagonal_dot);
        }

        &.oneCircle {
          @include svg-overlay(#quarter_circle);
        }

        &.squaresCircles {
          @include svg-overlay(#squares_circles);
        }

        &.bigCircle {
          @include svg-overlay(#big_circle);
        }

        &.bigPill {
          @include svg-overlay(#big_pill);
        }
      } // /figure
    }
  }
}
