///
/// Navigation
///

.site-header {

  &__siteNavigation {
    background: transparent;
    font-family: $sans-serif;

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;

      @supports (display: flex) {
        display: flex;
        flex-flow: row nowrap;
      
        @include media(">=phone") {
        padding-left: 6vw;
      }

      @include media(">=tablet") {
        grid-column: 2 / 6;
        justify-content: flex-start;
        padding: initial;
        }
      }

      li {
        border-bottom: (3em / 16) solid $site-white;
        height: 8ex;
        padding: 2ex 0;
        margin: 0 0.15ex;

          a {
            color: $site-white;
            font-size: $base-font-normal;
            text-decoration: none;

            :hover {
              background: $site-punk-pink;
            }
          }
          &:nth-child(n) {
            flex-basis: 25%;
          }
      }
    }
  }
} // .site-header

///
/// Fonts loaded yo!
///
.fonts-loaded {

  .site-header {
   
    &__siteNavigation {
      font-family: $frank-new;
    }
  }
}