//
// Portfolio list item
// each item on the page: ../portfolio/
//
.portfolio-list-item {
  &__content {
    &--hero {
      @include media('>=phone') {
        grid-column: 2 / 5;
        grid-row: 1 / 5;
      }

      @include media('>=tablet') {
        grid-column: 2 / 4;
        grid-row: 1 / 5;
      }

      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;

      img {
        height: 100%;
        opacity: 0.75;
        width: 100%;
      }
    }

    h1 {
      @include responsive-font(3.5vw, 1.25em, 32px, 64px);

      @include media('>=phone') {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        line-height: 1;
        // padding: 0.5em 0 0;
      }

      @include media('>=tablet') {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }

      align-self: center;
      background-color: (transparentize($site-black, 0.2));
      font-weight: 400;
      margin: 0;
      padding: 2ex;
      text-shadow: 1px 1px 10px transparentize($site-black, 0.5);
      z-index: 1;
    }

    &--deck {
      @include media('>=phone') {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
      }

      @include media('>=tablet') {
        align-self: center;
        grid-column: 1 / 2;
        // grid-row: 2 / 2;
      }

      @include media('>=desktop') {
      }

      svg {
        @include media('>=phone') {
          fill: $site-white;
          max-width: 100%;
          margin: 10% 10% 0;
          opacity: 0.15;
        }

        @include media('>=tablet') {
          max-width: 40%;
          padding: 3% 5%;
        }
      }

      top: 5em;
      z-index: 1;
    }

    &--description {
      @include responsive-font(1.5vw, 0.9em, 18px, 22px);

      @include media('>=phone') {
        display: none;
        // grid-column: 2 / 2;
        // grid-row: 3 / 3;
        // margin-top: 5%;
        // padding: 3% 5%;
      }

      @include media('>=tablet') {
        align-self: center;
        display: initial;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        // margin-top: 5%;
        padding: 6.5%;
      }

      @include media('>=desktop') {
        align-self: self-start;
        margin-top: 10%;
        padding: 9% 5%;
      }

      background-color: transparentize($site-black, 0.2);
      font-family: $frank-new;
      // min-height: 50%;
      z-index: 1;
    }

    &--static-tags {
      @include responsive-font(1.5vw, 0.8em, 10px, 18px);

      @include media('>=phone') {
        display: none;
        // grid-column: 3 / 4;
        // grid-row: 3 / 4;
      }

      @include media('>=tablet') {
        display: initial;
        grid-column: 2 / 3;
        // grid-row: 4 / 5;
      }

      padding: 2ex;

      li {
        display: inline;
      }

      background-color: transparentize($site-black, 0.15);
      z-index: 1;
    }

    @include media('>=phone') {
      grid-template-columns: minmax(3vw, 8vw) 3fr 3fr;
      grid-template-rows: minmax(2.25vh, 4.5vh) minmax(auto, max-content);
      align-items: center;
    }

    @include media('>=tablet') {
      grid-template-columns: 5vw repeat(2, 2fr);
      grid-template-rows: minmax(3vh, 6vh) 3fr;
      align-items: center;
    }

    @include media('>=desktop') {
      grid-template-columns: 9vw 1.5fr 2fr;
      grid-template-rows: repeat(2, minmax(3vh, 7vh)) minmax(auto, max-content) minmax(
          1vh,
          2vh
        );
      align-items: start;
    }

    display: grid;
  }

  a {
    display: block;
    text-decoration: none;
  }

  @include media('>=phone') {
    // margin: 0;
    // padding: 0;
  }

  @include media('>=tablet') {
    // padding: 0.5em 0 0;
  }

  margin: 2vh 0;
}
