///
/// Scale rules, Screen rules and sass variables 
/// 

// Set some viewport heights from which to work from 
$baseUnit: 1.125; 
$threeQuartersHeight: 0.75;
$threeFifths: 0.6;
$oneThirdHeight: 0.33;
$oneQuarter: 0.25;
$oneFifth: 0.2;
// Set a smallest screen width
$small-screen: 25.875em; // 414px
$medium-screen: 48em; // 768px
$wide-screen: 80em; // 1280px



:root {
  --measure: 60ch;
  --smallMeasure: 40ch;
  --ratio: 1.6180339887;
  --halfRatio: calc(var(--ratio) / 2);
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));

  --s0: 1.125rem;
  
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
   
// Some half steps
   --s05: calc(var(--s0) * var(--halfRatio));
   --s1-5: calc(var(--s1) * var(--halfRatio));

   --small-screen: #{$small-screen}; 
   --oneThird: calc(100vh * #{$oneThirdHeight});
   --threeQuarter: calc(100vh * #{$threeQuartersHeight});
   --oneQuarter: calc(100vh * #{$oneQuarter});
   --oneFifth: calc(100vh * #{$oneFifth});
   --threeFifths: calc(100vh * #{$threeFifths});

   font-size: var(--s0);
   line-height: var(--ratio);
}