///
/// A Sidebar Prime
///


.aSidebarPrime {
  background: darken($site-background-color, 0.9);


  &__sidebarTitle {
    @include media(">tablet") {
      border-left: 3em solid $site-acid-green;
     }
  }

  &__sidebarList,
  &__sidebarTags {
    list-style: none;
    padding: 0;
  }

  &__sidebarList {
    border-top: 1px dotted lighten($site-dark-blue, 20%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    > li {
      border-bottom: 1px dotted lighten($site-dark-blue, 20%);
      border-right: 1px dotted lighten($site-dark-blue, 20%);
      padding: 1em 0 1em 1em;

      &:nth-of-type(4n){
        padding-right: 0;

       ul {
        padding-right: 1em;
       }
      }

      .post-grid {
        min-height: 13ex;
        padding: 0;

        .drop-cap {
          & > a {
            @include responsive-font(5vw, 2.3rem, 5rem, 22px);
            // font-size: 5rem;

            .small-letter{
              @include responsive-font(2.5vw, 1.24rem, 3rem, 18px);
            }
          }
        }

        .full-title {
          @include responsive-font(1.25vw, 0.65em, 1em, 12px);
          // @include media('>=phone', '<=tablet') {
          //   font-size: 0.85em;
          // }
          // @include media('>=tablet') {
          //   font-size: 1.2em;
          // }
        }
      }
    }
  }
}
