///
/// The main styles for the river of posts
/// grid settings can be found over in _grid.scss
///

.site-content {
  button {
    background: transparent;
    border: 0.15em solid $site-white;
    border-radius: 0.35em;
    color: $site-white;
    font-size: 1.25rem;
    padding: 0.5em 1em;
  }

  input {
    background: $site-white;
    border: 0.15em solid $site-white;
    border-radius: 0.35em;
    font-size: 1.25rem;
    padding: 0.5em 1em;
  }

  &__homePage {
    width: 90vw;
  }
}

.grid-wrapper {
  .subtitle-grid-container {
    @include media('>=phone') {
      background: transparentize($site-background-color, 0.25);
    }

    @include media('>=tablet') {
      background: transparent;
      padding: 7ex 0 0 0;
      width: 75%;
    }

    // @include media('>=desktop') {

    // }

    &__subTitle {
      @include media('>=phone') {
        margin: 0;
        padding: 1.25ex 2.5ex;
      }

      @include media('>=tablet') {
        @include slide-up-down;
        @include basic-drop-shadow(text);
        padding: 0;
      }

      @include media('>=desktop') {
        @include slide-up-down(slideDownLarge);
        padding: 0;
      }

      @include responsive-font(7.25vw, 2.5rem, 17rem, 200px);
      display: block;
      font-family: $justus-pro;
      line-height: 1em;
    }
  }

  .mast-head {
    @include media('>=phone') {
      line-height: 1.2;
      padding: 6vw;
    }

    @include media('>=tablet') {
      line-height: 1.2;
      padding: 1ex 8vw 1ex 15vw;
    }

    @include responsive-font(2.75vw, 1.25em, 5.5rem, 32px);
    // @include purple-gradient;
    @include basic-drop-shadow(text);
    font-family: $frank-new;
    font-weight: 200;
    font-style: normal;
    padding: 5vw;

    & p::first-letter {
      @include responsive-font(8vw, 18px, 85px, 32px);
      line-height: 0.8;
    }
  }

  .grid-site-data {
    @include media('>=phone') {
      @include responsive-font(3vw, 3rem, 5rem, 18px);
    }
  }

  &__homePage {
    width: 90vw;
  }
}
