///
/// Skills Section
///

.biography-skills {

  @include media(">=phone") {
    padding: 8ex 6vw 8ex 6vw;
  }

  @include media(">=tablet") {
    padding: 8ex 8vw 8ex 15vw;
  }

  @include responsive-font(2vw, 1.2rem, 2.75rem, 20px);
  background: transparentize($site-dark-blue, 0.2);
  font-family: $sans-serif;
  grid-column: 1 / 5;
  grid-row: 5 / 6;
  

  h3 {
    @include responsive-font(3.75vw, 1.25rem, 5.5rem, 32px);
    margin: 0;
  }

  & > ul * {
    margin: 0;
    padding: 0;
  }

  & > ul {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;

    > li {
      display: block;

      > ul > li {
        margin: 0.25em 0;
      }
    }
  }
}

.fonts-loaded {

  .site-content {

    .biography-skills {
      font-family: $frank-new;
    }
  }
}