///
/// Basic rules for tags
///
.site-tags {
  @include media('>=phone') {
    margin: 0;
  }

  @include media('>=tablet') {
    padding-left: 0;
  }

  padding: 0;

  &__tag {

    @include media('>=phone') {
      display: inline-block;
    }

    @include media('>=tablet') {
      display: block;
    }

    text-decoration: none;
    padding: 0;
  }
}
