///
/// type family
///

$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

$serif: Cambria, 'Liberation Serif', Times, Utopia, 'Hoefler Text', 'Nimbus Roman No9 L Regular', 'Times New Roman',
  serif;

$monospace: 'SFMono-Regular', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter',
  'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
  monospace;

$slab-serif: 'Rockwell', 'Rockwell Extra Bold', 'Courier New', Monoco, Courier, monospace;

///
/// from Adobe Typekit
/// see FontFace Observer
///

$frank-new: 'frank-new', $sans-serif;
$justus-pro: 'justus-pro', $serif;

///
/// type size
///
// $base-font-raw: 62.5;
$base-font: var(--s0);
$base-font-small: var(--s-1);
$base-font-normal: var(--s0);
$base-font-gigantic: var(--s2);
$base-letter-spacing: 0.01;

$max-line-length: var(--measure);

///
/// basic <h#>
///

$headings: (h1, h2, h3, h4, h5, h6);
@each $heading in $headings {
  #{$heading} {
    font-family: $serif;
    font-weight: 200;
    font-style: normal;

    ///
    /// Headings that wrap links
    ///

    a {
      text-decoration: none;
      color: currentColor;

      &:visited {
        color: $site-white;
      }
    }
  }

  .fonts-loaded #{$heading} {
    font-family: $justus-pro;
  }
}

h3 {
  @include responsive-font(3.75vw, 2.25em, 5.5em, 32px);
  // font-size: clamp(, #{$ideal}, #{$max});
}

///
/// Set a base link style here:
///

a,
.fonts-loaded a {
  &:link {
    color: $site-link;
  }

  &:visited {
    color: $site-link-visited;
    background: $site-hot-orange;
  }

  &:hover {
    color: $site-punk-pink;
  }

  &:active {
    background-color: $site-link-active-bg;
  }

  &:focus {
    @include focus-ring(outline);
  }
}

///
/// Basic typographic rules
///

code {
  background: transparentize($site-hot-orange, 0.85);
  border-radius: 0.125em;
  color: $site-white;
  font-family: $monospace;
  font-size: var(--s05);
  padding: 0.15em;
}

//
// Type rules for single and portfolio pages:
// TODO: determine if site-single is used / useful anymore and then do something about it
//
.site-single,
.portfolio {
  &__content {
    h2,
    h3 {
      margin-bottom: 0.5ex;
    }

    h2 {
      font-size: 2.75rem;
    }

    h3 {
      font-size: 1.75rem;
    }

    // set the max width for <p> elements to a reasonable / standard amount of characters
    p {
      max-width: $max-line-length;
    }

    ul {
      padding-left: 3ex;

      li {
        list-style-type: disc;
      }

      li ul {
        border: 0;
      }
    }
    h3 + ul {
      margin-top: 0.5ex;
    }

    b,
    strong {
      font-weight: 500;
    }
  } // /&__content
} // /.portfolio

.sidebar-prime {
  font-size: 1.6rem;
}

.fonts-loaded {
  font-family: $frank-new;

    &__portfolioInvolvement ul {
      word-break: break-word;
    } 
}
