///
/// Articles. Posts and general page rules
/// But not typographic...
///

time {
  @include media(">=phone") {
  // transform: rotate(-90deg);
  // transform-origin: top right;
  min-width: 5em;
  position: relative;
  top: 1em;
  left: 0;
  }
}

.site-article {
  @include media(">=phone") {
    background: pink;
  }
  padding: 0 1em;
}

.site-single {

  &__content {

    .shortcode-canvas {
      border-left: 0.8rem solid $site-punk-pink;
    }
 
    //
    // These are the image rules for an article or portfolio screen:
    //  The images are provided via a custom {{ image }} shortcode, see the shortcode image.html
    figure {
      margin: 0;

      img {
        width: 100%;
      }
    }

   .image-block {

     &__100 {
       border: 1px dotted $site-punk-pink;
       width: 100%;
     }

     &__50 {
      border: 1px dotted $site-acid-green;
      width: 50%;
     } 

     &__33 {
      border: 1px dotted $site-white;
      width: 33%;
     }

     &__25 {
      border: 1px dotted $site-hot-orange;
      width: 25%;
     }
   } // /.image-block 
  } //
}
