///
/// Articles. Posts and general page rules
/// But not typographic...
///

time {
  @include media(">=phone") {
    // transform: rotate(-90deg);
    // transform-origin: top right;
    font-size: 1.3rem;
    min-width: 5em;
    position: relative;
    top: 1em;
    left: 0;
  }
}

.site-article {
  @include basic-article-wrapper(">=phone", 95vw, 5vw);
  @include basic-article-wrapper(">=tablet", 100vw, 0, 6.5vw);
  @include basic-article-wrapper(">=desktop", 100vw, 0, 0);
}

//
// Covers the generic article type, but there are content type specific styles below
//
.siteSingle {

  &__content {

    .shortcode-canvas {
      border-left: 0.8rem solid $site-punk-pink;
    }
 
    //
    // These are the image rules for an article or portfolio screen:
    //  The images are provided via a custom {{ image }} shortcode, see the shortcode image.html

    .portfolio-image-wrapper {
      display: flex;
      margin: 0.5em 0;
      @include media("<=tablet") {
        display: block;
      }
    }

    figure {
      margin: 0;

      img {
        width: 100%;
      }
    }

   .image-block {

     &__100 {
       //border: 1px dotted $site-punk-pink;
       width: 100%;
     }

     &__50 {

      @include media("<=tablet") {
        display: block; 
        width: 100%;
      }
     } 

     &__33 {
      @include media("<tablet") {
        display: block;
        width: 100%;
      }

      width: 33.33%;
     }

     &__25 {
      @include media("<tablet") {
        // border: 1px dotted tranparentize($site-punk-pink, 0.2);
        display: block;
        width: 100%;
      }

      // border: 1px dotted $site-hot-orange;
      width: 25%;
     }
   } // /.image-block 
  } //
}

[data-vendor] {
  font-size: .5em;
  left: 0;
  top: 0;
}
