///
/// Grid Settings Y Styles
///


///
/// Header
///

/// Some Common Variables that should be moved to a separate file, possibly the _functions mixin...
/// Desktop view ports
$left-column: 25vw;

.site-header {
  
  &__siteNameContainer,
  &__siteNavigation {
    /// set up the grids for the breakpoints... really need to make this a mixin or function

    //function take named media q. as args
    //          take number after each as arg of number of frs to output

    @include media(">=phone") {
      grid-template-columns: 1fr;
      grid-template-rows: 3em;
    }

    @include media(">=tablet") {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 8em;
    }

    @include media(">=desktop") {
      grid-template-columns: $left-column 1fr 1fr 1fr;
      grid-template-rows: 10em;
    }

  display: grid;
  }

  &__siteName {
    @include media(">=phone") {
      grid-column: 1 / 1;
      padding-left: 6vw;
    }

    @include media(">=tablet") {
      grid-column: 2 / 4;
      padding-left: 0;
      //padding: 0.5em 0 3vw 0.65em;
    }
  }

  /// Do some adjusting of the site nav
  &__siteNavigation {
    grid-template-rows: initial;

    ul {
      @include media(">=phone"){
        grid-column: 1
      }

      @include media(">=tablet"){
        grid-column: 2 / 4
      }
      
      @include media(">=desktop"){
        grid-column: 2 / 5;
      }
      
    }
  }
}

//
// TODO: needs better name...
//
.grid-wrapper {

  @include media(">=phone") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @include media(">=tablet") {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media(">=desktop"){
    grid-template-columns: $left-column 1fr 1fr 1fr;
    //grid-template-rows: calc(100vh / 4) calc(100vh / 4) calc(100vh / 4) calc(100vh / 4);
  }

  display: grid;

  > div {
    border: 1px solid hsla(327, 94%, 48%, 0.1);
    }



    .prime-box {
      @include media(">=phone") {
       grid-column: 1 / 1;
       grid-row: 1 /1;

       svg {
        height: auto;
        width: 100%;
        }
      }

      @include media(">=tablet") {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
      }
    } // prime box



    &__siteRiverOf,
    .subtitle-grid-container {
      @include media(">=phone") {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
       }

       @include media(">=tablet") {
        grid-column: 2 / 4;
        grid-row: 1 / 1;
       }
      } // subtitle grid container

    &__siteRiverOf {

    }


      .jumbo-grid-container {
       @include media (">=phone") {
          grid-column: 1 / 1;
          grid-row: 3 / 9;

        &__content {
        // position: fixed;
        top: 0;
        }
       } // / phone breakpoint

        @include media(">=tablet") {
          grid-column: 1 / 4;
       }
    } // /.jumbo-grid-container

      .portfolio-grid-container {
         @include media(">=phone") {
          grid-column: 1 / 4;
          grid-row: 10 / 12;
        }

        @include media(">=tablet"){

        }
        $quarter-vp: 100% / 4;
        display: grid;
        grid: 25% / 1fr 1fr 1fr 1fr;

        .mast-head {
          grid-column: 1 / 5;
          grid-row: 1 / 5;
        }
    }

  @include media(">=phone") {
// .jumbo-grid-container {
    //   grid-column: 1 / 1;
    //   grid-row: 3 / 9;

      // &__content {
      // // position: fixed;
      //  top: 0;
      // }
    //}

    // .portfolio-grid-container {
    //   grid-column: 1 / 1;
    //   grid-row: 10 / 12;
    // }

    .grid-site-data {
      background-color: $site-background-color;
      grid-column: 1 / 1;
      grid-row: 11 / 12;
    }
  } // / phone breakpoint 

    

  @include media(">=tablet") {
    
    // .prime-box {
    //   grid-column: 1 / 1;
    //   grid-row: 1 / 1;
    // }

    // .subtitle-grid-container {
    //   grid-column: 2 / 3;
    //   grid-row: 1 / 1;
    //  }
  }

  @include media(">=desktop") {
    // background: #098765;
  }
}