///
/// Navigation
///

.site-header {

  &__siteNavigation {
    background: transparent;

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;

      @supports (display: flex) {
        display: flex;
        flex-flow: row nowrap;
      
        @include media(">=phone") {
        padding-left: 6vw;
      }

      @include media(">=tablet") {
        justify-content: flex-start;
        padding: initial;
      }
      }

      li {
        border-bottom: (3em / 16) solid $site-white;
        height: 8ex;
        padding: 2ex 0;
        margin: 0 0.15ex;

          a {
            font-size: $base-font-normal;
            text-decoration: none;
          }
          &:nth-child(n) {
            flex-basis: 25%;
          }
        // &:nth-child(1) {
        //   flex-basis: 15%;
        // }

        // &:nth-child(2) {
        //   flex-basis: 22%;
        // }

        // &:nth-child(3) {
        //   flex-basis: 22%;
        // }
        // &:nth-child(4) {
        //   flex-basis: 22%;
        // }
      }
    }
  }
} // .site-header