///
/// Navigation
///

.site-navigation {
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;

    @supports (display:flex) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    }

    li {
      border-bottom: (3em / 16) solid $site-punk-pink;
      height: 2ex;
      padding: 2ex;

      &:nth-child(1) {
        flex-basis: 50%;
      }

      &:nth-child(2) {
        flex-basis: 15%;
      }

      &:nth-child(3) {
        flex-basis: 35%;
      }

      a {
        // padding: 1ex;
      }

    }
  }
}
