//
// Portfolio list item
//
.portfolio-list-item {

  &__content {

    &--deck {

      svg {
        opacity: 0.75;;
      }

    h1 {
      font-weight: 400;
      margin: 0;
      }

      top: 5em;
      // width: 10vw;
    }

    &--hero {

    }
    display: grid;
    grid-template-columns: 15vw 2fr;
  }
}