///
/// A Sidebar Prime
///


.aSidebarPrime {
  background: darken($site-background-color, 0.9);


  &__sidebarTitle {
    @include media(">tablet") {
      border-left: 3em solid $site-acid-green;
     }
  }

  &__sidebarList,
  &__sidebarTags {
    list-style: none;
    padding: 0;
  }

  &__sidebarList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    > li {
      height: calc(93vh / 4);
      width: calc(93vw / 4);
      padding: 1vw;

      &:nth-of-type(4n){
        padding-right: 0;
      }
    }

    li > a {
      font-size: 5em;
    }
  }
}
