///
/// A Sidebar Prime
///


.aSidebarPrime {
  background: darken($site-background-color, 0.9);


  &__sidebarTitle {
    @include media(">tablet") {
      border-left: 3em solid $site-acid-green;
     }
  }

  &__sidebarList,
  &__sidebarTags {
    list-style: none;
    padding: 0;
  }

  &__sidebarList {
    border-top: 1px dotted lighten($site-dark-blue, 20%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    > li {
      // width: calc(97vw / 4);
      // padding: 0.5em 0.75vw;

      &:nth-of-type(1),
      &:nth-of-type(4n+1) {
        // padding-left: 1em;
      }

      &:nth-of-type(4n){
        // padding-right: 1em;
      }

      .post-grid {
        border-bottom: 1px dotted lighten($site-dark-blue, 20%);
        border-right: 1px dotted lighten($site-dark-blue, 20%);
        overflow: hidden;
        min-height: 13ex;
        padding: 1ex 1em;

        .drop-cap {
          & > a {
            @include responsive-font(5vw, 2.3rem, 5rem, 22px);
            // font-size: 5rem;

            .small-letter{
              @include responsive-font(2.5vw, 1.24rem, 3rem, 18px);
            }
          }
        }

        .full-title {
          @include responsive-font(1.25vw, 0.65em, 1em, 12px);
          // @include media('>=phone', '<=tablet') {
          //   font-size: 0.85em;
          // }
          // @include media('>=tablet') {
          //   font-size: 1.2em;
          // }
        }
      }
    }
  }
}
