///
/// The main grid for the river of posts
/// <main>
///
* {
  box-sizing: border-box;
}
//
// body {
//   background-color: hsla(0, 0, 100%, 1);
//   height: 100vh;
//   //padding: 1vh;
//   width: 100vw;
// }
.grid-wrapper {
  // background: hsla(180, 100%, 80%, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(100vh / 4) calc(100vh / 4) calc(100vh / 4) calc(100vh / 4);

> div {
    border: 1px solid hsla(0, 5%, 5%, 0.15);
    height: calc(100vh / 4);
    width: calc(100vw / 4);
    padding: 1vw;
    }

// 1st square
  //:nth-child(1)
  .prime-box {
    @include media("<=phone") {

    }
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  //:nth-child(2)
  .subtitle-grid-container {
    grid-column: 2 / 5;
    width: 100%;
  }

  // :nth-child(3) {
  //   background: #acd3e5;
  //   background-image: linear-gradient(-135deg, hsla(300, 45%, 50%, .25) 0%, rgba(255,117,117,0.07) 100%);
  //   grid-column: 1 / 1;
  //   grid-row: 2 / 9;
  //   width: 100%;
  //   height: 100%;
  // }

  //:nth-child(4)
  .jumbo-grid-container {
    //background: #31f4fa;
    grid-column: 2 / 5;
    grid-row: 2 / 9;
    width: 100%;
    height: 100%;
  }

  //:nth-child(5)
  .home-page-grid-member {
    @include media(">=phone") {
      grid-column: 1 / 4;
    }

    grid-column: 1 / 3;
    grid-row: 9 / span 3;
    height: 100%;
    width: 100%;
  }

  //:nth-child(6)
  .grid-site-data {

    @include media(">=phone") {
      grid-column: 1 / span 4;
      grid-row: 12 / 15;
      width: 100%;
    }

    @include media(">=desktop") {
    background-image: linear-gradient(-220deg, rgba(52,167,255,0.150) 0%, #98E2FC 100%);
    font-size: 4vh;
    grid-column: 4 / 5;
    grid-row: 9 / 12;
    height: 100%;
    width: 100%;
    }
  }

  .subtitle {
    display: block;
    font-style: oblique;
    padding: 1ex 0;
  }

  &__homePage {
    width: 90vw;
  }
}
