///
/// The main styles for the river of posts
/// grid settings can be found over in _grid.scss
///

//
// body {
//   background-color: hsla(0, 0, 100%, 1);
//   height: 100vh;
//   //padding: 1vh;
//   width: 100vw;
// }

.site-content {
  // background-image: url(../images/real_pill.svg);
  // background-repeat: repeat;
  
  button {
    background: transparent;
    border: 0.15em solid $site-white;
    border-radius: 0.35em;
    color: $site-white;
    font-size: 1.25rem;
    padding: 0.5em 1em;
  }

  input {
    background: $site-white;
    border: 0.15em solid $site-white;
    border-radius: 0.35em;
    font-size: 1.25rem;
    padding: 0.5em 1em;
  }

  .subtitle {
    @include media(">=phone") {
      padding: 2.5ex;
    }

    @include media(">=tablet") {
      padding: 1ex 0;
    }

    @include media(">=desktop") {
      padding: 1.3ex 0;
    }
    @include responsive-font(8vw, 3rem, 10rem, 30px);
    display: block;
    font-family: $serif;
    line-height: 1em;
    
  }

    &__homePage {
      width: 90vw;
    }
}

.grid-wrapper {

  > div {

    }

// 1st square
  //:nth-child(1)
  .prime-box {

  }

  //:nth-child(2)
  .subtitle-grid-container {
    @include media(">=phone") {
      background: transparentize($site-background-color, 0.25)
    }

    @include media(">=tablet") {
      background: transparent;
    }
  }

  .portfolio-flex,
  .portfolio-grid {
    //6.5ex 17.65vw 6e.5x 6vw
    &__mastHead {
      @include media(">=phone") {
        background: $site-background-color;
        line-height: 4rem;
        padding: 8vw;
      }

      @include media(">=tablet") {
        background: transparentize($site-background-color, 0.5);
        background-repeat: no-repeat;
        line-height: 4rem;
        padding: 4ex 8vw;
        background-position: 0 4em;
        background-size: cover;
      }

      @include responsive-font(2.75vw, 3.25rem, 5.5rem, 32px);
      font-family: $serif;
      font-weight: 100;
      padding: 5vw;
    }

      /// Portfolio Grid Summary 
      /// as found in hp-portfolio.html
      /// TODO: Move these rules to own Partial

      &__summary {
        //max-width: initial;

      &__content {
          // Placeholder / Development Classes... 
          // TODO: Remove these classes
          border: dotted 2px $site-punk-pink;
          /// In some cases we have an overlay here
          a:hover {
            border: 0;
          }

          figure {
            // margin: 0;

            // img {
            //   border-radius: 0;
            //   height: 100%;
            //   width: 100%;
            // }
            /// In some cases we overlay SVG Clipping here.

            // TODO: Add a function or mixin to make this shorter

            .fourDots {
              clip-path: url(#four_dots);
            }

            .leftDots {
              clip-path: url(#left_dots);
            }

            .oneCircle {
              clip-path: url(#one_circle);
            }

            .rightStepr {
              clip-path: url(#right_stepr);
            }
          } // /figure
        } // /content
      }

      svg {
        height: 0;
        width: 0;

        .a {fill:rgb(39, 169, 225)}
        
        .b {fill:hsl(300, 100%, 50%)}
        
        .c {fill:hsl(153, 68%, 42%)}
        
        .d {fill:hsl(274, 53%, 37%)}
        
        .e {fill:hsl(302, 58%, 36%)}
        
        .f {fill:hsl(204, 100%, 37%)}

        .g {fill: hsl(300, 100%, 50%)}
      }
  }

  .grid-site-data {

    @include media(">=phone") {
      @include responsive-font(3vw, 3rem, 5rem, 18px);
    }

    @include media(">=desktop") {
    // background-image: linear-gradient(-220deg, rgba(52,167,255,0.150) 0%, #98E2FC 100%);
    // font-size: 4vh;
    // grid-column: 4 / 5;
    // grid-row: 9 / 12;
    // height: 100%;
    // width: 100%;
    }
  }

  &__homePage {
    width: 90vw;
  }
}
