.twitter-hash {

  &__twitter-return {

    .morse-output {
      fill: transparentize($site-white, 0.4);
      font-size: 8rem;
      line-height: 1;
      margin: 0;
      padding: 0;

      &-svg {
        color: $site-dark-blue;
      }
    }
}

}
