///
/// type family
///


$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$serif: 'Liberation Serif', Times, Cambria, Utopia, 'Hoefler Text', 'Nimbus Roman No9 L Regular',  'Times New Roman', serif;

$monospace: 'SFMono-Regular', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;



///
/// type size
///
$base-font-raw: 62.5;
$base-font: $base-font-raw * 1%;
$base-font-small: ($base-font * 0.85);
$base-font-normal: ($base-font * 1.8);
$base-font-gigantic: ($base-font * 3.5);
$base-letter-spacing: 0.01;



///
/// Mixins
///

///
/// descender fixing
///

@mixin descender(
  //$color: $site-white,
  $descender-bg: '') {
  background-image: linear-gradient(currentColor,currentColor);
  background-repeat: no-repeat;
  background-size: 100% 0.0625em;
  background-position: center bottom 21%;
  background-origin: padding-box;
  //color: $color;
  padding: 10px 0;
  text-decoration: none;
  text-shadow:
  3px 0 $descender-bg,
  2px 0 $descender-bg,
  1px 0 $descender-bg,
  -1px 0 $descender-bg,
  -2px 0 $descender-bg,
  -3px 0 $descender-bg;
  transition: color 0.1s ease-out;
}

///
/// basic <h#> shadow
///

@each $heading in h1, h2, h3, h4, h5, h6 {

  #{$heading} {
    text-shadow: 1px 1px 1px $site-dark-blue, 0.02em 0.35em 0.29em transparentize($site-dark-blue, 0.11);

    ///
    /// Headings that wrap links
    ///

    a {
      text-decoration: none;
    }
  }
}


///
/// Set a base link style here:
///

a {
  &:link {
    color: $site-link;
  }

  &:visited {
    color: $site-link-visited;
  }

  &:hover {
    @include focus-ring(outline, $site-acid-green)
  }

  &:active {
    background-color: $site-link-active-bg;
  }

  &:focus {
    @include focus-ring(outline)
  }
}


///
/// Basic typographic rules
///
code {
  font-family: $monospace;
  font-size: 1.4rem;
}

article {
  // We want to control overall line length, so we set the width of the container here:
  @include media(">phone") {
    max-width: 90vw;
  }

  @include media(">tablet") {
    max-width: 75vw;
  }

  @include media(">desktop") {
    max-width: 65vw;
  }
  overflow: auto;
}

h1 {
  font-weight: 200;
}

.siteAuthor {
  font-size: 1.3rem;
}

.siteSingle {
  &__content {

    h2,
    h3 {
      font-weight: 100;
      margin-bottom: 0.5ex;
    }

    p, ul  {
      //font-family: $serif;
      font-size: 1.8rem;
      font-weight: 100;
      line-height: 1.65;
    }

    ul {
      // border-left: 0.25ex solid transparentize($site-white, 0.45);
      padding-left: 0;
      
      li {
        border-left: 0.25ex solid transparentize($site-white, 0.45);
        padding-left: 2ex;
      }
      
      li ul {
        border: 0;
      }
    }
    h3 + ul {
      margin-top: 0.5ex;
    }
  }
}

.aSidebarPrime {
  font-size: 1.6rem;
}
