///
/// type family
///


$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$serif: "Liberation Serif", Cambria, Utopia, "Hoefler Text", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

$monospace: "SFMono-Regular", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


///
/// type size
///
$base-font: 62.5%;
$base-font-small: ($base-font * 0.85);
$base-font-gigantic: ($base-font * 3.5);
$base-letter-spacing: 0.01;

///
/// Basic typographic rules
///
code {
  font-family: $monospace;
  font-size: 1.4rem;
}

article {
  // We want to control overall line length, so we set the width of the container here:
  @include media(">phone") {
    max-width: 31em;
  }

  @include media(">tablet") {
    max-width: 25em;
  }

  @include media(">desktop") {
    max-width: 50vw;
    overflow: auto;
  }
}

h1 {
  font-weight: 200;
}

.site-author {
  font-size: 1.3rem;
}

.site-single {
  &__content {

    h2,
    h3 {
      font-weight: 100;
      margin-bottom: 0.5ex;
    }

    p, ul  {
      //font-family: $serif;
      font-size: 1.8rem;
      font-weight: 100;
      line-height: 1.65;
    }

    ul {
      border-left: 0.25ex solid transparentize($site-white, 0.45);
      padding-left: 0.5em;

      > li ul {
        border: 0;
      }
    }
    h3 + ul {
      margin-top: 0.5ex;
    }
  }
}

.asidebar-prime {
  font-size: 1.6rem;
}
