//
// root sass
//

@import "vendor/normalize";
@import "vendor/include_media";
@import "vendor/fluid_type.scss";
@import "partials/custom_breakpoints";
@import "partials/colors";
@import "partials/typography";
@import "partials/grid";
@import "partials/nav";
@import "partials/articles";
@import "partials/sidebar";

html {
  background-color: $site-background-color;
  background: linear-gradient(187deg, lighten($site-background-color, 1%) 0%, lighten($site-background-color, 15%) 100%);
  color: $site-white;
  font-family: $sans-serif;
  font-size: $base-font;
}

body {
  font-size: 1.6rem;
}

header,
main,
footer,
.asidebar-prime {

  @include media(">=phone") {
    background-color: lighten($site-background-color, 1%);
    padding: 0 0 0 2ex;
    width: 90vw;
  }

  @include media(">=tablet") {
    background-color: lighten($site-background-color, 5%);
    padding: 0 0 0 15ex;
    width: 80vw;
  }

  @include media(">=desktop") {
    background-color: lighten($site-background-color, 8.5%);
    padding: 0 0 0 10ex;
    width: 60vw;
  }

  &.minus-body {
    font-size: $base-font-small;
  }

  margin: 0 auto;
  overflow: auto;
}

///
/// Set a base link style here:
///

a {
  &:link {
    color: $site-link;
  }

  &:visited {
    color: $site-link-visited;
  }

  &:hover {
    background-color: $site-link-hover-bg;
    color: $site-main-text-color;
  }

  &:active {
    background-color: $site-link-active-bg;
  }

  &:focus {
    outline: none;
    //border: (1em / 16) dotted $site-focus-ring;
    box-shadow: inset 0 0 0 (1em / 16) $site-focus-ring;
  }
}

///
/// Override the webkit focus with our own
///

li {
  list-style: none;
}



///
/// the main site header
/// eventually to its own partial
///

.site-header {
  padding-top: 3ex;
  padding-bottom: 3ex;

  &__siteName {

    @include responsive-font(4vw, 2.1em);
    color: $site-white;
    font-family: $sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-decoration: none;
    text-shadow:
    0.15rem 0.15rem 0 rgba(0, 0, 0, 0.75),
    0.25rem 0.25rem 0 rgba(0, 0, 0, 0.5),
    0.35rem 0.35rem 0 rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: $site-dark-blue;
      color: $site-acid-green;
      clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 20%) border-box;
    }
  }
}



///
/// Home Page
///

.site-content {

  .subtitle {
    display: block;
    font-style: oblique;
    padding: 1ex 0;
  }
}

///
/// List page / template summary rules
///

.site-summary {
  @include media(">=phone") {
    border-bottom: 3vh solid $site-dark-blue;
    max-width: 90vw;
  }
  @include media(">=tablet") {
    border-bottom: 3vh solid $site-green-blue;
    max-width: 70vw;
  }
  @include media(">=desktop") {
    border-bottom: 4vh solid $site-green-blue;
    max-width: 70vw;
    padding-right: 3vw;
  }

  &__copy {
    line-height: 1.6;
  }
}

///
/// site experiments
///

.site-experiments {
  background-color: darken($site-background-color, 0.2);
}

///
/// some pagination rules
///
.site-pagination {
  background-color: lighten($site-background-color, 25%);
  padding: 2ex 2em;
}

///
/// Basic rules for tags
///

.site-tags {
  background: $site-black;
  margin: 2ex 0;
  padding: 0;

  &__tag {
    display: inline-block;
    font-style: italic;
    @include responsive-font(4vw, 3em);
  }
}

//
// Footer
// to its own partial
//

.site-footer {
  background: $site-black;
  box-sizing: border-box;
  font-family: $sans-serif;
  min-height: 5em;
  padding: 1em;

  &__siteCredit {
    font-size: $base-font-gigantic;
    margin: 0;
  }
}
