//
// root sass
//

@import "vendor/normalize";
@import "partials/functions";
@import "vendor/include_media";
@import "vendor/fluid_type";
@import "partials/custom_breakpoints";
@import "partials/colors";
//@import "partials/type/descender";
@import "partials/typography";
@import "partials/grid";
@import "partials/nav";
@import "partials/articles";
@import "partials/sidebar";
@import "partials/site-content";

//
// rules
//
html {
  background-color: $site-background-color;
  color: $site-white;
  font-family: $sans-serif;
  font-size: $base-font;
}

body {
  font-size: 1.6rem;
  margin: 0;

}

header,
main,
footer,
.asidebar-prime {
  margin: 0 auto;
  //overflow: auto;
}

.full-width-wrapper {

  > :nth-child(n) {

    @include media(">=phone") {
      //background-color: $small-bg-color;
      margin: 0 0 0 5vw;
      width: 85vw;
    }

    @include media(">=tablet") {
      //background-color: $medium-bg-color;
      //padding: 0 0 0 15ex;
      //width: 80vw;
    }

    @include media(">=desktop") {
      //background-color: $large-bg-color;
      //padding: 0 0 0 15%;
      margin: 0 0 0 10vw;
      width: 60vw;
    }
  }

  &.minus-body {
    font-size: $base-font-small;
  }

  width: 100vw;
}

li {
  list-style: none;
}


///
/// the main site header
/// eventually to its own partial
///
@keyframes twistShadow {
  from {
    transform: translateY(0);
  }
  to {
    transform: rotateY(118deg);
  }
}

@keyframes dropIn {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

.site-header {
  // animation: dropIn 0.92s running;
  background: transparent;

  &__siteNameContainer {
    backface-visibility: visible;
    height: 13vh;
    perspective: 30vh;
    perspective-origin: 85% 60%;
    position: relative;
    transform-style: preserve-3d;
  }

  &__siteName {

    @include responsive-font(4vw, 2.1em);

    color: $site-white;
    font-family: $sans-serif;
    font-weight: 500;
    height: 7vh;
    left: 9vw;
    padding: 1rem;
    position: absolute;
    text-decoration: none;
    transform: rotateY(118deg);
    text-shadow: multiple-text-shadow(4, 122, 233, 144, -0.015, 0, px);
    top: 7vh;

    &:hover {
      // transform: rotateY(118deg);
      //animation: twistShadow 0.25s forwards;
    }

    &:visited {
      // background-color: $site-dark-blue;
      color: $site-white;
      //clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 20%) border-box;
    }
  }
}



///
/// Home Page
///

.site-content {

  .subtitle {
    display: block;
    font-style: oblique;
    padding: 1ex 0;
  }
  &__homePage {
    width: 90vw;
  }
  /// to its own partial
  ///
  // &__jumboJumbo {
  //   background: transparent;
  //   height: 85vh;
  // }
}

///
/// List page / template summary rules
///

///
/// for landing pages w/ rivers of posts:

.single-column {
  @include media(">=phone") {
  }
  padding: 0 1em;
}

.site-summary {

  @include media(">=phone") {
    max-width: 90vw;
  }

  @include media(">=tablet") {
    max-width: 70vw;
  }

  @include media(">=desktop") {
    border-left: 0;
    border-right: 0;
    max-width: 70vw;
    padding-bottom: 3vw;
  }
  border: 1px solid $site-transparent-black;

  &__copy {
    line-height: 1.6;
  }
  &__content {
    @include media(">=phone") {
      display: block;
    }

    @include media(">=desktop") {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }


    p {
      flex-basis: 75%;
      padding-right: 3ex;
    }
    
    figure {
      flex-basis: 25%;
      margin: 0;
      
      img {
        border-left: 3px solid $site-transparent-black;
        border-radius: 50% 50%;
        height: 25%;
        width: 25%;
      }
    }
  }
  &__tags {
    display: inline-block;
  }
}

///
/// site experiments
///

.site-experiments {
  background-color: darken($site-background-color, 0.2);
}

///
/// some pagination rules
///
.site-pagination {
  background-color: lighten($site-background-color, 25%);
  padding: 2ex 2em;
}

///
/// Basic rules for tags
///

.site-tags {
  background: $site-black;
  margin: 2ex 0;
  padding: 0;

  &__tag {
    display: inline-block;
    font-style: italic;
    @include responsive-font(4vw, 3em);
  }
}

//
// Footer
// to its own partial
//

.site-footer {
  background: $site-black;
  //box-sizing: border-box;
  //font-family: $sans-serif;
  height: 15vh;
  padding-top: 1ex;

  &__siteCredit {
    font-size: $base-font-small;
    margin: 0;
  }
}
