//
// root sass
//

@import "vendor/normalize";
@import "partials/functions";
@import "vendor/include_media";
@import "vendor/fluid_type";
@import "partials/custom_breakpoints";
@import "partials/colors";
@import "partials/typography";
@import "partials/grid";
@import "partials/nav";
@import "partials/articles";
@import "partials/sidebar";
@import "partials/site_content";
@import "partials/_twitter_hash";


//
// rules
//

/// Box Sizing
/// TODO: Make sure this box-sizing rule is in fact the one we want
///
* {
  box-sizing: border-box;
}

html {
  //background-color: $site-background-color;
  background-image: url(../images/moonScapeBG5.svg);
  // Retina-specific stuff here
  // TODO: Create a Mixin to handle any device pixel ratio
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: url(../images/moonScapeBG5.svg) 
  }
  background-attachment: fixed;
  background-origin: 0 0;
  background-position: 0 0;
  background-size: contain;
  color: $site-white;
  font-family: $sans-serif;
  font-size: $base-font;
}

body {
  //background-blend-mode: multiply;
  font-size: 1.6rem;
  margin: 0;

}

header,
main,
footer,
.asidebar-prime {
  margin: 0 auto;
  //overflow: auto;
}

.full-width-wrapper {

  > :nth-child(n) {

    @include media(">=phone") {
      margin: 0;
      width: 100vw;
    }

    @include media(">=tablet") {
      margin: 0 0 0 5vw;
      padding: 0 0 0 15ex;
      width: 75vw;
    }

    @include media(">=desktop") {
      //background-color: $large-bg-color;
      //padding: 0 0 0 15%;
      margin: 0 0 0 10vw;
      width: 60vw;
    }
  }

  &.minus-body {
    font-size: $base-font-small;
  }

  width: 100vw;
}

li {
  list-style: none;
}


///
/// the main site header
/// eventually to its own partial
///
@keyframes twistShadow {
  from {
    transform: translateY(0);
  }
  to {
    transform: rotateY(118deg);
  }
}

@keyframes dropIn {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

.site-header {
  // animation: dropIn 0.92s running;
  background: transparent;

  &__siteNameContainer {
    //backface-visibility: visible;
    height: 13vh;
    //perspective: 30vh;
    //perspective-origin: 85% 60%;
    position: relative;
    //transform-style: preserve-3d;
  }

  &__siteName {

    @include responsive-font(4vw, 2.1em);

    color: $site-white;
    font-family: $sans-serif;
    font-weight: 500;
    height: 7vh;
    left: 9vw;
    padding: 1rem;
    //position: absolute;
    text-decoration: none;
    //transform: rotateY(118deg);
    text-shadow: multiple-text-shadow(4, 122, 233, 144, -0.015, 0, px);
    // text-shadow: 1px 1px 0 #333, 2px 2px 0 #333, 3px 3px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 hsla(0, 0%, 20%, 0.6), 6px 6px 0 hsla(0, 0%, 20%, 0.5), 7px 7px 0 hsla(0, 0%, 20%, 0.4), 8px 8px 0 hsla(0, 0%, 20%, 0.422), 9px 9px 0 hsla(0, 0%, 20%, 0.3), 10px 10px 0 hsla(0, 0%, 20%, 0.2), 11px 11px 0 hsla(0, 0%, 20%, 0.1);
    // top: 7vh;

    &:hover {
      // transform: rotateY(118deg);
      //animation: twistShadow 0.25s forwards;
    }

    &:visited {
      // background-color: $site-dark-blue;
      color: $site-white;
      //clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 20%) border-box;
    }
  }
}



///
/// Home Page
///

///
/// List page / template summary rules
///

///
/// for landing pages w/ rivers of posts:

.single-column {
  @include media(">=phone") {
    padding: 0;
  }
  padding: 0 1em;
}

.site-summary {
  background: #74e3ec; /* Old Browsers */
  background: linear-gradient(117deg, rgba(116, 226, 236, 0.05), rgba(199, 255, 226, 0.05)); 

  @include basic-article-wrapper(">=phone", 95vw, 5vw);
  

  @include media(">=tablet") {
    max-width: 70vw;
  }

  @include media(">=desktop") {
    border-left: 0;
    border-right: 0;
    max-width: 70vw;
    padding-bottom: 3vw;
  }
  border: 1px solid $site-transparent-black;

  &__copy {
    line-height: 1.6;
  }
  &__content {
    @include media(">=phone") {
      display: block;
    }

    @include media(">=desktop") {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }


    p {
      flex-basis: 70%;
      padding-right: 3ex;
    }
    
    figure {
      flex-basis: 30%;
      margin: 0;
      
      img {
        @include media(">=phone") {
          height: 12.5em;
          width: 12.5em;
        }
        @include media(">=desktop") {
         
        }
        border-left: 3px solid $site-transparent-black;
        border-radius: 50% 50%;
        height: 25%;
        width: 25%;
      }
    }
  }
  &__tags {
    display: inline-block;
  }
}

///
/// site experiments
///

.site-experiments {
  background-color: darken($site-background-color, 0.2);
}

///
/// some pagination rules
///
.site-pagination {
  background-color: lighten($site-background-color, 25%);
  padding: 2ex 2em;
}

///
/// Basic rules for tags
///

.site-tags {
  // 
  margin: 2ex 0;
  padding: 0;

  &__tag {
    @include responsive-font(2vw, 1em);
    //text-shadow: big-3d(1, 1, 0, 0, $site-acid-green, 15);
    text-decoration: none;
    text-shadow: multiple-text-shadow(6, 50, 50, 50, -0.15, 0.2, em);
    display: inline-block;
    font-style: italic;
    // text-shadow: 1px 1px 0 #333, 2px 2px 0 #333,3px 3px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333,5px 5px 0 #333,6px 6px 0 #333, 7px 7px 0 #333, 8px 8px 0 #333, 9px 9px 0 #333, 10px 10px 0 #333, 11px 11px 0 #333;
    margin: 2ex 0;
    padding: 0;
  }
}

//
// Footer
// to its own partial
//

.site-footer {
  background: $site-black;
  //box-sizing: border-box;
  //font-family: $sans-serif;
  height: 15vh;
  padding-top: 1ex;

  &__siteCredit {
    font-size: $base-font-small;
    margin: 0;
  }
}

