///
/// Colors
///

$site-dark-blue: hsl(212, 76%, 10%);
$site-prince-purple: hsl(252, 34%, 17%);
$site-t-dark-blue: transparentize($site-dark-blue, 0.1);
$site-green-blue: hsl(203, 39%, 48%);
$site-white: hsl(0, 0%, 100%);
$site-punk-pink: hsl(324, 90%, 61%);
$site-hot-orange: hsl(7, 85%, 64%);
$site-lava-orange: hsl(15, 93%, 56%);
$site-acid-green: hsl(75, 100%, 52%);
$site-black: #111111;
$site-purple: hsl(286, 96%, 55%);
$site-red: hsl(345, 100%, 40%);
$site-seafoam-green: hsl(167, 87%, 49%);
$site-canary-yellow: hsl(50, 100%, 70%);
$site-sage-green: hsl(66, 29%, 60%);

///
/// further abstract away the site's colors so we can do work on them:
///
$site-focus-ring: $site-lava-orange;
$site-main-text-color: $site-black;
$site-background-color: lighten($site-dark-blue, 0.95);
$site-link: $site-white;
$site-link-visited: darken($site-white, 3%);
$site-link-hover-bg: $site-acid-green;
$site-link-active-bg: $site-green-blue;

///
/// per screen size bg colors
///

// $small-bg-color: lighten($site-background-color, 1%);
// $medium-bg-color: lighten($site-background-color, 5%);
$large-bg-color: lighten($site-background-color, 8.5%);

/// Colors that have transparency by virtue of hsla vs. sass doing that work for us
// $site-transparent-black: hsla(0, 5%, 5%, 0.15);
// $site-transparent-bg: transparentize($site-background-color, 0.6);

// take each color from above and create a global class by that name:
// ex output would be: .site-color--green-blue;

$site-colors: (
  dark-blue: $site-dark-blue,
  green-blue: $site-green-blue,
  white: $site-white,
  punk-pink: $site-punk-pink,
  hot-orange: $site-hot-orange,
  lava-orange: $site-lava-orange,
  acid-green: $site-acid-green,
  black: $site-black,
  purple: $site-purple,
  red: $site-red,
  brown: $site-seafoam-green,
  canary-yellow: $site-canary-yellow,
  sage-green: $site-sage-green,
);

@each $site-color-name, $site-color in $site-colors {
  .site-color--#{$site-color-name} {
    background: $site-color;

    figcaption {
      box-shadow: 10px 10px 0 $site-color;
    }
  }
}

