.stack {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

//
// TODO: This might have breaking changes elsewhere...

// .stack > * + * {
//   margin-top: var(--s1);
//   margin-block-start: var(--s1);
// }