.stack {
  // // gap: var(--s1);
  // @include media('>=tablet') {
  //   // gap: var(--s3);
  // }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * + * {
  margin-block: var(--s1);
}

.stack > * {
  margin-block: 0;
} 
