//
// Basic Drop Cap for all pages

.has-dropcap {
  --measure: 50ch;
  color: var(--text-color);
  font-size: ft(var(--s-1), var(--s2));
  line-height:ft(var(--s-1), var(--s2));
  margin-block-start: var(--s-1);

  .dropcap {
    float: left;
    font-family: $frank-new;
    font-size: var(--s5);
    font-size: clamp(var(--s5), $preferredValue, calc(var(--s5) * 4));
    font-weight: 900;
    margin-block: calc(var(--s0) * 5) 0;
    // margin-inline: 0 var(--s-2);
    margin-inline: calc(var(--s0) * -1) calc(var(--s0) * .15);


    // @media screen and (max-width: $small-screen) {
    //   line-height: 0.35em;
    // }
    @include media('<=phone') {
      line-height: 0.35em;
    }
  }

  .dropcap:before,
  .dropcap:after {
    content: '';
    display: block;
  }

  .dropcap:before {
    margin-top: -0.41em;
    @media screen and (max-width: $small-screen){
      margin-block-start: 0.2em;
    }
  }

  .dropcap:after {
    margin-bottom: clamp(-0.55em, $preferredValue, -1em);
    @media screen and (max-width: $small-screen) {
      margin: 0;
    }
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

//
// Modified Styles for the home page only
//

.homepage-content {
  .has-dropcap {
    .dropcap:before {
        margin-top: 0.2em;
        margin-block-start: 0.2em;
      }
      .dropcap:after {
        @media screen and (max-width: $small-screen) {
          margin: 0;
        }
      }  
    }
  }

