//
// Basic Drop Cap for all pages

.has-dropcap {
  --measure: 50ch;
  color: var(--text-color);
  font-size: ft(var(--s0), var(--s2));
  // line-height:ft(var(--s-1), var(--s2));
  line-height: 1.5;
  
  @include media ('>=tablet') {
    line-height: 1.34;
  }

  // margin-block-start: var(--s-1);

  .dropcap {
    @include media('<=tablet') {
      font-size: ft(var(--s4), var(--s5));
    }

    float: left;
    font-family: $frank-new;
    font-size: ft(var(--s5), var(--s8));
    font-weight: 900;
    margin-block: calc(var(--s0) * 3.5) var(--s1);
    margin-inline: calc(var(--s0) * -1) calc(var(--s0) * .15);


    // @media screen and (max-width: $small-screen) {
    //   line-height: 0.35em;
    // }
    @include media('<=phone') {
      line-height: 0.35em;
    }
  }

  .dropcap:before,
  .dropcap:after {
    content: '';
    display: block;
  }

  .dropcap:before {
    font-size: 95%;
    // margin-top: -0.41em;
    
    // @media screen and (max-width: $small-screen){
    //   margin-block-start: -0.95em;
    // }
    // margin-block-start: ft(-0.8em, -0.41em);
    margin-block-start: -0.95em;

    @include media('>=tablet') {
      margin-block-start: -0.6em;
    }
  }

  .dropcap:after {
    
    @media screen and (max-width: $small-screen) {
      margin-block-start: -1.5em;
      margin-block-end: clamp(-0.55em, $preferredValue, -1em);
      margin-inline: 0;
    }

    margin-block-end: clamp(-0.55em, $preferredValue, -1em);
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

//
// Modified Styles for the home page only
//

.homepage-content {
  .has-dropcap {
    .dropcap:before {
        margin-top: 0.2em;
        margin-block-start: 0.2em;
      }
      .dropcap:after {
        @media screen and (max-width: $small-screen) {
          margin: 0;
        }
      }  
    }
  }

