<script>
  var script = document.createElement('script');
  
  script.src = '/js/vendor/fontfaceObserver/fontfaceobserver.standalone.js';
  script.type = 'application/javascript';
  script.async = true;
  script.onload = function () {
    function timeout(time) {
      return new Promise(function (resolve, reject) {
        setTimeout(reject, time);
      });
    }
    var inter = new FontFaceObserver('inter');
    var justus = new FontFaceObserver('justus-pro');
    var frank = new FontFaceObserver('frank-new');
    var html = document.documentElement;
    Promise.race([inter.load(), justus.load(), frank.load(), timeout(5000)]).then(function () {
      html.classList.add('fonts-loaded');
    });
  };
  document.head.appendChild(script);
</script>