<!-- The following variables are for site functionality only. One off scripts for individual experiments should be loaded on and by the experiment page not here...
That is, if its a Paperscript experiment, that page's necessary framework script is already loaded by a front matter parameter.
-->
{{ $basic := resources.Get "js/basic.js" }}
{{ $mobileNav := resources.Get "js/mobileNav.js" }}
{{ $observer := resources.Get "js/observer.js" }}
{{ $time := resources.Get "js/time.js" }}
{{ $socialSprites := resources.Get "js/sprites.js" }}

<footer class="site-footer">
  <p class="site-footer__siteCredit">&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </p>
</footer>
{{ if .Site.IsServer }}
{{ $script := slice $basic $mobileNav $observer $time $socialSprites | resources.Concat "/js/main.js" }}
<script src="{{ $script.Permalink }}" async></script>
{{ else }}
{{ $script := slice $basic $mobileNav $observer $time $socialSprites | resources.Concat "/js/main.js" | minify | fingerprint }}
<script src="{{ $script.Permalink }}" async></script>

{{ end }}

</body>

</html>