<article class="portfolio-grid__summary">
  <!-- +++ hp-portfolio summary template +++ -->
  <div class="portfolio-grid-summary__content"> 
    {{ if and (.Params.postimage) (ne .Params.postimage "") }}
    <a href="{{ .Permalink }}">
    <figure>
      <!--  
      {{ partial "svg/portfolio_overlay.html" . }}
      -->
      
      <img class="portfolioCard svgShapeCLip {{ .Params.svgClipObjectClass }}" src="{{ .Params.postimage }}" alt="{{ if .Params.postimagealt }}
      {{ .Params.postimagealt }}  
    {{ else }}
      {{ .Title }}
    {{ end }}" />
    
      
      {{ if and (.Params.figcaption) (ne .Params.figcaption "") }}
      <figcaption>{{ .Params.figcaption }}</figcaption>
      {{ end }}
    </figure>
  </a>
    {{ end }}
    
  </div>
</article>
