{{/*  
A configurable image block that does some things:
has an SVG overlay 
can accept a variety of parameters, classes, and for both the image and the svg
should have companion Sass file / inline styles here are just for dev

! We can configure the shit out of this, but basically, I want to use existent SVG, leaving it relatively untouched, and its dependent upon the other SVG file existing somewhere; presently in the footer...

*/}}

{{/*  Use the snippet below to pass args into the markup  */}}
{{/*  {{ $Args := (dict "context" . "classes" "overlay")}}  */}}
<div class="[ img-container ]">
  <img class="[ {{ .contName }} {{ .imgClasses }} layout ][ utils ]" src="" alt="" />
    <svg class="[ {{ .svgClasses }} layout ][ svg-overlay ]">
    <g filter="url(#gggrain-saturate)">
      <rect width="100%" height="100%"></rect>
      <rect width="100%" height="100%" fill="url(#gggrain-gradient3)"></rect>
      <rect width="100%" height="100%" fill="url(#gggrain-gradient2)"></rect>
      <rect class="[ svg-configs ]"></rect>
    </g>
  </svg>
</div>