{{ $local := .Site.IsServer }} {{ if $local }} {{ printf "<!-- +++ jumbo_two.html  -->" | safeHTML }} {{ end }}
<div class="[ jumbo ]">
  <div class=" [ bot-contain ]">
    {{ partial "svg/spookyBackground.svg" . }}
    {{ partial "svg/fullBot.svg" . }}
  </div>
    <div class="[ blue-block alpha ]">
      <p>Not a complete and total mystery. A rigorous scaffolding. A kind of flying buttress. Finding the path. Loosing it again, then stumbling across a hidden passage way, blind to the entrance. Banking only on the fog between way points.</p>
    </div>
    <div class="[ blue-block beta ]">
      <p>A corporeal and ethereal wrestling match</p>
    </div>
    <!-- <div class="[ blue-block gamma ]">
        
    </div> -->
    <div class="[ blue-block delta ]">
        <p>Divided pulsar wavers ceaselessly. A canticle, song or half assed sonnet comes to fruition, or bears loops</p>
    </div>
    <!-- <div class="[ blue-block epsilon ]">
        <p>Righteous indignation with flavored popsicles</p>
    </div> -->
  </div>

