<div class="jumbo-grid-container twitter-hash">
  <div id="jumbo-container" class="jumbo-grid-container__content">
      <!-- this should be a partial -->
      <div class="twitter-hash__twitter-return">
      <p id="twitterReturn"></p>
      
      <p id="morseOutputSVG" class="morse-output-svg"></p>
      <!-- <input id="the-hash-input" type="text" name="getHashTag" value="" placeholder="the placeholder"> -->
      <!-- <button id="hash-button" type="button" name="button" >get the hashtag</button>
      <button id="reset-button" type="button" name="button">reset</button> -->
      <p id="morseOutput" class="morse-output"></p>
      <!-- <p>the twitter response goes here..(for now this is a hard code place holder: "Whatever We Get From Twitter"). This will receive the string from the bot.js. </p>
      <p>Here is the response in string form converted to morse code: </p>  -->
    </div>
  </div>
</div>