<div id="jumbo-container">
<h3>twitter hashing it to morse</h3>
<input id="the-hash-input" type="text" name="getHashTag" value="" placeholder="the placeholder">
  <button id="hash-button" type="button" name="button" >get the hashtag</button>
  <button id="reset-button" type="button" name="button">reset</button>

<div class="twitter-hash__twitter-return">
  <p id="twitterReturn"></p>
  <p>the twitter response goes here..(for now this is a hardcode place holder: "Whatever We Get From Twitter"). This will recieve the string from the bot.js. </p>
  <p>Here is the response in string form converted to morse code: </p>
  <p id="morseOutput" class="morse-output"></p>
  <p>here are is the svg version:</p>
  <p id="morseOutputSVG" class="morse-output-svg">Some SVG placeholder here...</p>
</div>
