<!-- portfolio_involvement.html -->
{{ $newLayout := .Params.newLayout }}
{{ $role := .Params.projectRoles }}
{{ $url := .Params.externalURL }}
{{ $clients := .Params.projectClients }}
{{ $date := .Params.projectDate }}
{{ $credits := .Params.projectCredits }}
{{ $tags := .Params.tags }}
{{ $atWrapper := "article-grid-wrapper"}}
{{ $sgWrapper := "section-grid-wrapper"}}
{{ $imgWrapper := "grid-wrapper" }}
<aside class="[ portfolio-involvement ][ squeeze ][ box-shadow ]">
  {{ if and ( $clients ) ( ne $clients "" ) }}
  <h3>Client:</h3>
  <ul>
    {{ range $clients }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  {{ end }}
  {{ if and ( $url ) ( ne $url "" )}}
  <h3>Site</h3>
  <ul>
    <li><a href="{{ $url }}">{{ $url }}</a></li>
  </ul>
  {{ end }}
  {{ if and ( $role ) ( ne $role "" ) }}
  <h3>Role:</h3>
  <ul>
    {{ range $role }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  {{ end }}
  
  {{ if and ( $date ) ( ne $date "" ) }}
  <h3>Project Date:</h3>
  <ul>
    <li>{{ $date }}</li>
  </ul>
  
  {{ end }}
  {{ if and ( $credits ) ( ne $credits "" ) }}
  <h3>Collaborators:</h3>
  <ul>
    {{ range $credits }}
    <li>
      {{ . }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
  
  {{ if and ( $tags ) ( ne $tags "" ) }}
  <h3>Tagged:</h3>
  <ul id="tags">
    {{ range sort $tags }}
    <li class="[ site-tags ][ tag ]">
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    </li>
    {{ end }}
  </ul>
  
  {{ end }}
</aside>