{{ $posts := ($.Site.GetPage "Type" "posts") }}
{{ $portfolio := ($.Site.GetPage "Type" "portfolio") }}
{{ $experiments := ($.Site.GetPage "Type" "experiments") }}
{{ $groups := slice $posts $portfolio $experiments }}

<aside class="[ sidebar-prime ]">
  <div class="[ wrapper ]">
  <h3 class="[ sidebarTitle ]">Etcetera</h3>
  <p>A feed of all published work on this site.</p>
  <ul class="[ sidebarList ]">
    {{ range $groups }}
      {{ range .Pages }}
        {{ .Render "post-grid" }}
      {{ end }}
    {{ end }}
  </ul>
  </div>
</aside>