  <li class="[ social-icon ]">
    <a href="{{ .Site.Params.github.url }}" aria-label="{{ .Site.Params.github.name }}" target="_blank"
      rel="noopener noreferrer">
      <svg viewBox="197 0 50 51" aria-hidden="true">
        <use href="#{{ .Site.Params.github.name }}"></use>
      </svg>
    </a>
  </li>
  
  <li class="[ social-icon ]">
    <a href="{{ .Site.Params.linkedin.url }}" aria-label="{{ .Site.Params.linkedin.name }}" target="_blank"
      rel="noopener noreferrer">
      <svg viewBox="98 0 50 51" aria-hidden="true">
        <use href="#{{ .Site.Params.linkedin.name }}"></use>
      </svg>
    </a>
  </li>
