

{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- ++ default list template ++ -->" | safeHTML }}
{{ end  }}

{{ partial "header.html" . }}
<main>
  <div class="[ wrapper ] grid-wrapper">
    <div class="grid-wrapper__listParent [ posts ]">
      {{ range .Pages }}
        {{ partial "summary.html" . }}
      {{ end }}
    </div>
  </div>
  <!-- {{ partial "pagination.html" . }} -->
</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}