{{ $local := .Site.IsServer }}
{{ $mainContent := partial "first-paragraph.html" .Content }} 
{{ if $local }}
{{ printf "<!-- +++ default single item  -->" | safeHTML }}
{{ end  }}

{{ partial "header.html" . }}
<main>
  {{ if eq .Type "features" }}
    {{ if $local }}
    {{ printf "<!-- a feature page  -->" | safeHTML }}
    {{ end  }}
    <div class="[ wrapper ][ grid-wrapper ][ feature-page ]">
    {{ else }}
    <div class="[ wrapper ][ grid-wrapper ]">
  {{ end  }}
  <article class="[ site-article ]"> 
    <h1>{{ .Title }}</h1>
        {{ if ne .Section "portfolio" }}
        <p class="[ site-author ]">by: {{ .Site.Params.author }}</p>
          <time>Last Update: {{ .Lastmod | time.Format ":date_long" }}</time>
        {{ end }}
        {{ if eq .Type "features" }}
          {{ .Content }}
        {{ end }}
        <section class="[ site-single ]">          
            {{ .Content }}
        </section>
        {{ if eq .Type "experiments"  }}
          {{/* Check the page param type and set a class or (whatever else based on that param) */}}
          {{ $experimentType := .Page.Param "experimentType" }}
          {{ if $local }}
          {{ printf "<!-- +++ experimental svg / canvas / ???  -->" | safeHTML }}
          {{ end  }}
          {{ if and ( eq $experimentType "svg" ) ( ne $experimentType "" ) }}
              <svg id="{{ lower .Title }}"  class="[ svg-exp ]" viewBox="0 0 0 0"></svg>
          {{ end  }}
        {{ end }}
      </article>
      {{ if .Params.tags }}
      {{ partial "tags.html" . }}
      {{ end }}
    
  </div>
</main>
{{/*  {{ if $local }}
  {{ partial "sidebar.html" . }}
{{ end }}  */}}
{{ partial "footer.html" . }}
{{/*  {{ if eq .Type "experiments"  }}
  {{ partial "experiments.html" . }}
{{ end }}  */}}
{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}