//
// Make grids easier to utilize
// ex: @include add-to-grid() {}
//
@mixin add-to-grid(
  $breakpoint: '',
  $col-start: '',
  $col-end: '',
  $row-start: '',
  $row-end: ''
) {
  @include media(#{$breakpoint}) {
    grid-column: #{$col-start} / #{$col-end};
    grid-row: #{$row-start} / #{$row-end};
  }
  //@content;
}

// mixin that makes the grids and the breakpoints
// @param {string} : the breakpoint we use
// @param {string} : $columns ~ the columns we use
// @param {number} : $rows ~ the rows used
// @param {number} : $row-gap ~ row
// @param {number} : $column-gap ~ the column gap

@mixin portfolio-grid(
  $breakpoint: '>=phone',
  $columns: null,
  $rows: null,
  $row-gap: null,
  $column-gap: null
) {
  @if $breakpoint == '>=phone' {
    @include media(#{$breakpoint}) {
      grid-template-columns: $columns;
      grid-template-rows: $rows;
      column-gap: $column-gap;
      row-gap: $row-gap;
    }
  } @else if $breakpoint == '>=tablet' {
    @include media(#{$breakpoint}) {
      grid-template-columns: $columns;
      grid-template-rows: $rows;
      column-gap: $column-gap;
      row-gap: $row-gap;
    }
  }
}

@mixin grid-figcaption { // makes the figcaption portable... but maybe we just set all figcaptions to be this?
  > figcaption {
    color: $site-dark-blue;
    font-size: var(--s05);
    font-style: italic;
    padding-top: var(--s0);
    padding-right: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s0);
    background-color: #fff;
    box-shadow: var(--s-2) var(--s0) var(--s3) transparentize($site-black, 0.3);
    @include media('>=phone') {
      
      top: calc(var(--s1)  * -1);
      right: calc(var(--s2)  * -1);
      position: relative;
      width: calc(90% - var(--s0));
    }
  }
}

@mixin two-by-two($left: false, $right: false) {
  @if $left == true {
    background-color: $site-acid-green;
    @content;
  } @else if $right == true {
    background-color: $site-punk-pink;
    @content;
  }
}
